[2015-09-16 16:30] melodykramer opened #2 "Front End Thoughts"
User should be able to:

1. Specify time/day message should be received
2. Specify message

Perhaps later, user should be able to:

1. See all messages sent to a specific user

[2015-09-16 21:37] jessieay opened #4 "Run task daily that sends out appropriate bot messages"
Using cloud foundry cron: https://github.com/18F/cf-cron

[2015-09-16 21:44] jessieay commented on #2
@melodykramer when you say time/day, you mean for each *type* of message, or for each message?

In other words, my assumption was that we want a user to be able to set a rule like:

"On a new employee's first day of work, they should receive message ABC"
"On a new employee's second day of work, they should receive message XYZ"

We are going to run cron jobs once per day with `https://github.com/18

[2015-09-16 21:54] jessieay opened #5 "Decide how to find which "day" each employee is on"
In order to send out a message to each employee on their "x" day of employment, we will need to be able to calculate which day of employment each employee is on. We can either do this via a database on our end where we enter in a start date and slack handle for each user and then just calculate based on that, or we need to add that info to the Team API.

Issue re: adding slack handle to Team API:

[2015-09-16 21:56] jessieay commented on #5
tl;dr should we try to get start date and slack handle in the Team API or just have a database for this bot?

If we add fields to the API, we won't necessarily need a DB for this lib. But we might need one to store the custom messages that Melody/Andrew are drafting anyway.

[2015-09-17 00:25] melodykramer commented on #2
Yes, that works!

[2015-09-17 12:44] melodykramer commented on #2
@jessieay One thing I thought about this morning - some users in Slack are not 18F people. So every 18F person should receive the message, but not a member of the public joining a single channel as a guest. As long as there's a way to differentiate 18F from non-18F, the method you described works perfectly.

[2015-09-17 14:58] jessieay commented on #2
Good thinking. I think a good v1 would be to have us just manually enter in
slack names and start dates into a DB since the Team API doesn't yet have
that info and it seems like that might take a while to setup and populate
so would rather not let it be a blocker.

Another thought I had is that we are going to need some kind of auth system
for this site if it is going to have a front end where peo

[2015-09-17 15:46] mbland commented on #2
Actually, it'd be damn easy to add it to the Team API. You can start putting the data in right away (a lot of Slack usernames are already in there), and then it should just show up automatically.

We host a number of sites (the Hub, Tock, pages-staging) behind an instance of oauth2_proxy that I administer. It's pretty easy to add a new site behind that interface, too.

[2015-09-17 16:18] jessieay commented on #2
Thanks for the input Mike.

As for adding fields to the team API, I will try to get on that now so it
doesn't block development of this bot.

Can you link me to some commits or repos re: oauth2. Also wondering if we
could just used simple auth (one username and pw for anyone to access the
site) for now since nothing in this app will require security, we just
don't want random people updating or de

[2015-09-17 17:28] mbland commented on #2
It's pretty easy to put a new site behind the oauth2_proxy by adding a new nginx config to the Hub. https://github.com/18F/hub/blob/master/deploy/etc/nginx/vhosts/tock.conf is the version for Tock that's currently running. (Note that checking a config into this dir isn't sufficient; we update the config on the server, then check it in to have a record of what's running.)

[2015-09-18 00:00] jessieay opened #8 "Auth"
We need some kind of auth for this app so people don't start trolling us via Dolores.

See Mike's suggestion here: https://github.com/18F/dolores-landingham-bot/issues/2#issuecomment-141159857

I would also be OK with basic Rails authentication for this alpha version: http://api.rubyonrails.org/classes/ActionController/HttpAuthentication/Basic.html -- but we should double check that there wouldn't

[2015-09-18 00:01] jessieay commented on #8
@gemfarmer I think this could be a good one for you to tackle after reviewing my PR :)

[2015-09-18 17:32] jessieay commented on #5
Short term, this is being addressed by https://github.com/18F/dolores-landingham-bot/commit/9d42b4a2786b5bf72ca27a53d2330e45d1941814

In the future, we can use the API to determine this.

[2015-09-18 17:32] #5 closed

[2015-09-18 17:46] gemfarmer commented on #2
@mbland would it be best to get something deployed via cloud foundry before making a PR on the hub repo?

[2015-09-18 17:49] melodykramer opened #9 "Ability for current employees to receiving onboarding messages."
Several current 18F employees have asked if there's a way they can cycle through whatever we're giving to new hires. This feels like it might involve several steps (and shouldn't be in the MVP - just documenting this here.)

1. Saving messages that are sent to new employees.
2. Allowing current employees to say "I'd like to pretend tomorrow is Day 1" and start receiving messages.

[2015-09-18 18:02] mbland commented on #2
@gemfarmer If you already know what the URL is going to be, we can go ahead and set up the nginx configs so they're already there when the service is live. Won't hurt anything.

[2015-09-18 20:26] jessieay opened #12 "Needs basic styles"
While I love minimal styling, the current complete lack of grid/styles does make this app feel a little less than user friendly. Perhaps we can throw in a basic grid framework and styles that make the forms easier to navigate

[2015-09-21 16:21] jessieay commented on #9
@melodykramer the good news is that `2` is super easy - we decided that rather than worrying about hooking into the Team API, we would have an input form for Slack username and start date within the Dolores Bot front end interface. The form looks like this:

![screen shot 2015-09-21 at 9 20 31 am](https://cloud.githubusercontent.com/assets/601515/9997618/0b14f00c-6042-11e5-9730-5533fc5d5a38.png)

[2015-09-21 16:34] jessieay commented on #4
Or clockwork

https://github.com/18f/c2/blob/master/config/clock.rb
https://github.com/18F/C2/blob/master/Procfile

[2015-09-21 16:42] melodykramer commented on #9
Oh! That's great @jessieay.

I think you've covered both questions in this answer.

[2015-09-21 19:45] jessieay commented on #9
Great, will close this issue since it seems the app's current implementation will address this use case :tangerine:

[2015-09-21 19:45] #9 closed

[2015-09-21 21:54] gemfarmer commented on #8
Todo:
* [x] Add DNS listing
* [x] Configure routes on Cloud Foundry
* [ ] Add routing rules to CF
* [ ] Authenticate within the Rails app using custom request header `HTTP_X_FORWARDED_EMAIL`

[2015-09-21 21:56] gemfarmer commented on #12
* [ ] Add SCSS
* [ ] Add grid
* [ ] Style existing forms

[2015-09-22 00:09] jessieay opened #17 "ENV var documentation in readme"
Right now, the `ENV` vars specified in the deployment section of the readme are kind of hard to read. perhaps we should put them in an unordered list.

also, we should add `RACK_ENV`

[2015-09-22 00:14] jessieay commented on #17
also we should perhaps mention that we are using postgres w CF

[2015-09-22 11:07] melodykramer opened #19 "Holiday Weeks"
Hey!

Thought popped into my head this AM: sometimes there's a holiday, in which case I think we'd want to bump messages to the following day. This isn't necessary for v.1 - but just wanted to bring to your attention. :)

https://www.opm.gov/policy-data-oversight/snow-dismissal-procedures/federal-holidays/#url=2015

[2015-09-22 21:02] jessieay opened #21 "Add New Relic"
Not sure how to do this, but we should set up New Relic so we get email alerts if the app is broken

[2015-09-23 05:27] gemfarmer opened #24 "Update CONTRIBUTING.md"
@jessieay The file is in place, but per some of our conversations on git merging strategies, it might be good to broadcast this here.

[2015-09-23 15:39] melodykramer opened #25 "Should there be a password?"
Can anyone see the full message history? If so, I think there should be some kind of login or password, to limit this to 18F employees.

[2015-09-23 16:17] mbland commented on #25
Yeah, since it seems there's not yet a straightforward way to produce a secure, exclusive pipe from the oauth2_proxy to the app running in Cloud Foundry, this may be the way to go, at least in the near-term.

[2015-09-23 16:44] jessieay commented on #24
Great idea.

[2015-09-23 18:04] jessieay commented on #25
Adding basic auth until we get full on auth for the app: https://github.com/18F/dolores-landingham-bot/pull/26

[2015-09-23 18:23] #25 closed

[2015-09-23 19:43] melodykramer opened #28 "Add tagging support to scheduled messages"
Not for MVP:

Way for messages to be tagged so that people can sign up for specific types of messages: i.e. refresher on benefits (receive all benefits msgs.)

[2015-09-23 21:16] jessieay commented on #21
According to Slack convo, seems we are not going to be able to add NR monitoring to this project for financial reasons. Closing this issue.

[2015-09-23 21:17] jessieay commented on #12
Since #18 is merged, this issue has been addressed. Closing. :hammer:

[2015-09-23 21:17] #12 closed

[2015-09-23 23:56] jessieay opened #30 "Format messages in case of special characters"
https://api.slack.com/docs/formatting

[2015-09-24 14:47] gemfarmer opened #31 "Make Application Publicly Accessible"
The app created through MyUSA is currently privately accessible only to developers on this project. We need to make it "Public", then screen only for gsa.gov email addresses.

[2015-09-24 15:09] gemfarmer commented on #30
https://slack.zendesk.com/hc/en-us/articles/202288908-Formatting-your-messages

[2015-09-24 16:14] jessieay commented on #30
@gemfarmer That zendesk thread is relevant to Slack users, but there are a few chars that need to be escaped when sending messages via the API:

[code]

[2015-09-24 18:51] jessieay commented on #31
@gemfarmer looks like Yoz fixed this? (saw mention in Slack bot room about this)

[2015-09-24 18:55] jessieay opened #33 "Validation on slack username"
when someone enters a slack username for an employee record, we should validate that it does not have an `@` at the beginning

[2015-09-24 19:18] ccostino opened #34 "Fix a couple of minor HTML issues"
In reviewing parts of the code I came across a couple of views that had malformed closing tags in the HTML (the table tags in index.html for both the employee and scheduled_messages view folders).  They just require the missing slashes.

[2015-09-24 20:52] gemfarmer commented on #33
Slightly more complicated, but this should also validate that that slack user exists. On top of that, and this might be a new issue, we should store the slack user id so that if they change their slack "name", it doesn't throw off our reference.

[2015-09-24 20:53] gemfarmer opened #36 "View for "Messages being sent today""
This view could list all the messages going out that day, and to which users.

[2015-09-24 22:24] gemfarmer commented on #31
Yup. I made a request to make it public and put in the logic to screen for gsa.gov email accounts here:
https://github.com/18F/dolores-landingham-bot/commit/7f686ef0573710b1f5558288ba67c1cfafecfc89

[2015-09-25 00:35] jessieay opened #38 "Add pagination"
Our index views will get huge, eventually. We should add some form of pagination via something simple like Kaminari https://github.com/amatsuda/kaminari

[2015-09-25 16:13] ccostino commented on #30
I wonder if we need to escape just those three characters or others - judging by the guide it looks like just those 3 but I wanted to confirm since the fix will currently escape anything (&, <, >, ", ', etc.).

[2015-09-25 18:03] gemfarmer opened #40 "Log failed cron job messages"
Log messages failed messages sent in cron job

[2015-09-25 18:20] #8 closed

[2015-09-25 18:20] #31 closed

[2015-09-25 18:30] gemfarmer opened #41 "Create staging environment"
Create a new CF app `dolores-staging` to deploy to `dolores-staging.18f.gov`. @mbland do you need anything from me in order to host `dolores-staging.18f.gov`
* [x] add `dolores-staging` CF app
* [x] add `dolores-staging` CF route
* [x] hosting set up
* [x] create new MyUSA app `dolores-staging`
* [x] update CF env variables, including app keys from MyUSA app
* [x] update docs

[2015-09-25 18:41] gemfarmer opened #42 "Remove dolores-app cf route"
There should only be one route associated with the `dolores-app` app, `dolores.18f.gov`

[2015-09-25 18:59] jessieay opened #43 "Bullet initializer?"
Seems like a Bullet initializer made it in somehow - do we want to include that in every environment? Seems like a tool we should use locally to find N+1 queries but perhaps not needed to run on prod. Thoughts?

https://github.com/flyerhzm/bullet#configuration

[2015-09-25 19:27] gemfarmer commented on #43
@jessieay  I added it when I was emulating C2's omniauth application. I had previously tried to remove it, but something errored out. I probably conflated that error with another edit, because I tested the app without it now and _clear skies ahead_. I don't think we need it in any environment right now.

tl;dr Can be removed.

[2015-09-25 20:44] ccostino opened #45 "Provide ability to test messages"
As someone who is configuring the Dolores Landhingham bot, I would like the ability to test the message I am creating so that I can see that it is formatted correctly in Slack itself.

We could provide a test link next to the edit link in the messages list, and there may be a couple of ways of accomplishing this:

* If you're logged into the app, having it automatically send them to just you as yo

[2015-09-25 21:05] ccostino commented on #33
Is there a specific format that a Slack username must be, e.g., only letters, alpha-numeric, etc.?  I've been trying to sift through the documentation looking for an answer.

[2015-09-25 21:09] #17 closed

[2015-09-25 21:17] ccostino commented on #33
I found it right in the profile settings:  "Usernames must be lowercase and cannot contain spaces."  So it looks like lowercase alpha only.

[2015-09-25 21:23] jessieay opened #47 "Set up CI"
Travis or Circle

[2015-09-25 21:26] jessieay commented on #2
Front end has fields for message to be sent / when and slack username / start date. Closing this issue since it has been addressed. :gem:

[2015-09-25 21:26] #2 closed

[2015-09-25 22:04] #24 closed

[2015-09-25 22:09] gemfarmer commented on #45
@ccostino Great idea. This would be useful for devs and the person creating the messages.

Because our authentication doesn't know what your slack username is, I think it would be best to allow the tester to specify a default slack name that would receive test messages.

[2015-09-25 22:57] jessieay commented on #4
merged at 6201e0f692751eb33d29f1c3c1df04a9d8c0fee6

[2015-09-25 22:57] #4 closed

[2015-09-26 19:06] jessieay commented on #45
If I think about my own use cases for sending a test message, it's mostly to send a message to myself so that I can see the formatting (which is what @ccostino mentioned, too).

So, I think we can include a box for the slack username to send to in the "test a message" form.

[2015-09-26 20:23] jessieay commented on #45
Working on this here; almost done https://github.com/18F/dolores-landingham-bot/compare/jy-test-messages?expand=1

[2015-10-01 15:37] gemfarmer opened #49 "Update "Contributing" doc"
Add to contributing:
* [x] " check to make sure foreman is set to run at port 5000. If it is not, you will not be able to be authenticated with MyUSA. "
* [x] In authentication section, link to https://alpha.my.usa.gov/applications to make sure you are on the list of allowed local developers

[2015-10-01 16:13] jessieay commented on #47
Closing in favor of https://trello.com/c/qvRpBE2P

[2015-10-01 16:14] jessieay commented on #33
Closing in favor of https://trello.com/c/MCGArovt

[2015-10-01 16:15] jessieay commented on #40
Closing in favor of https://trello.com/c/ocRcgdY6

[2015-10-01 16:16] jessieay commented on #41
closing in favor of https://trello.com/c/BMWgaVH7

[2015-10-01 16:17] jessieay commented on #45
closing in favor of https://trello.com/c/RafIoY6J

[2015-10-01 16:18] jessieay commented on #38
Closing in favor of https://trello.com/c/l37skRw9

[2015-10-01 16:18] jessieay commented on #43
Closing in favor of https://trello.com/c/8aaUmwHj

[2015-10-01 16:18] jessieay commented on #30
Closing in favor of https://trello.com/c/k6o83IWq

[2015-10-01 16:19] jessieay commented on #42
Closing in favor of https://trello.com/c/m3AV94On

[2015-10-01 16:19] jessieay commented on #36
Closing in favor of https://trello.com/c/S2b1OFSI

[2015-10-01 16:20] jessieay commented on #19
Closing in favor of https://trello.com/c/kfmucSt3

[2015-10-01 16:20] jessieay commented on #28
Closing in favor of https://trello.com/c/MrJuYar8

[2015-10-01 16:21] jessieay commented on #49
Closing in favor of https://trello.com/c/RJNEBDNv (moved card to "up next")

[2015-10-01 20:05] #34 closed

[2015-10-01 20:05] ccostino commented on #34
If this was re-opened for other project tool integration, sorry, was going through issues assigned to me in here and just closed before seeing the change.

[2015-10-01 21:12] jessieay commented on #33
Via Carlo:

Upon further research it's not just lowercase letters as I see folks with underscores, numbers, etc., it's just that the letters have to be (or are just converted automatically) to lowercase. I still haven't been able to pin-point documentation that specifies what characters are specifically allowed, I'll keep searching for a bit.

[2015-10-01 21:14] jessieay opened #51 "Add flash notice/error styles"
Right now, they are unstyled. Attaching screenshots as examples.

[2015-10-01 21:15] jessieay commented on #51
<img width="394" alt="screen shot 2015-10-01 at 3 31 19 pm" src="https://cloud.githubusercontent.com/assets/601515/10234022/02490f14-6860-11e5-9bf4-198d2c17b5aa.png">
![screen shot 2015-10-01 at 3 30 19 pm](https://cloud.githubusercontent.com/assets/601515/10234021/0248b58c-6860-11e5-8848-2e5d58902b40.png)

[2015-10-01 21:16] jessieay opened #52 "Channel-based messages"
In some cases, we might want messages to go out to a channel (group of newhires) rather than via an individual Slack message. This feature would need some fleshing out before we start working on it but was suggested by Andrew/Melody

[2015-10-01 21:17] jessieay opened #53 "Only certain people can create messages"
all people w/a GSA email address should be able to auth into Dolores, but we want to whitelist certain people to be able to create messages. Not sure exactly how that's done with our auth setup

[2015-10-01 21:17] jessieay opened #54 "Add ability to delete employee record"
Users should be able to delete records from the employee#index view. We should use a gem like paranoia to keep all records in the DB even if they are deleted https://github.com/radar/paranoia

[2015-10-01 21:22] jessieay opened #55 "Integrate w/Team API?"
Right now, Dolores doesn't worry about any other data in order to function. This is good because it makes the app easily forkable / usable by other entities. But the downside to this is that we are duplicating Team data in our db that should also be included in the 18F Team API.

After speaking with Mike Bland about this today, it doesn't seem wise for us to move to using the Team API immediately.

[2015-10-02 14:51] gemfarmer opened #57 "Update styles to conform to US Web Design Standards"

[2015-10-02 15:11] gemfarmer opened #58 "Throttle Message"

[2015-10-02 15:24] ccostino commented on #33
Looks like to validate a username it should just be a call for looking up user info and checking for the user_not_found error: https://api.slack.com/methods/users.info

[2015-10-02 15:43] #45 closed

[2015-10-02 15:47] jessieay commented on #58
ohhhh weird this went to the far right column bc it was closed...now I get it. will re-close

[2015-10-02 15:47] #58 closed

[2015-10-02 15:47] #43 closed

[2015-10-02 15:51] jessieay opened #59 "Include note about "slack syntax""
Scheduled message bodies can be written with Slack syntax (some form of markdown)...we should include a note about this somewhere in the form so that people adding messages know this.

[2015-10-02 18:12] #30 closed

[2015-10-02 22:46] #49 closed

[2015-10-03 01:44] ccostino commented on #33
Okay, there's a simpler solution as we already retrieve the list of users and search through that - I'm going to leverage that functionality and build from there!

[2015-10-03 01:46] ccostino commented on #33
@gemfarmer, I think the storing of the Slack user ID should be separate from this and may not necessarily be needed for this particular use case (though I think it's still a good idea anyway).

[2015-10-06 15:45] ccostino commented on #28
Are there any concerns with using the acts_as_taggable_on gem to support this?

https://github.com/mbleigh/acts-as-taggable-on

[2015-10-06 16:01] jessieay commented on #28
Nope, sounds good to me.

I think there are 2 steps to this:

1) Allow people creating a scheduled message to tag the message
2) Create some kind of mechanism where people can subscribe to a tag. Would need to discuss further with someone (probably Melody/Andrew) about that because I am guessing we wouldn't want to spread out the messages in the same way for subscribers that we do for newbies. Per

[2015-10-06 16:10] ccostino commented on #28
Agreed - I wonder if we should split this out into two tickets?  Add support for the tagging itself in this one and then developing the mechanism for folks to subscribe in another?  That second step might require similar permissions work as with #53 and establishing preference management within the app itself.

[2015-10-06 16:38] jessieay commented on #28
@ccostino yeah, feel free to split!

[2015-10-07 15:02] gemfarmer opened #65 "Replace MyUSA auth with hmac proxy"
Mike Bland has created a gem that will allow us to authenticate by proxying incoming traffic. Because we have auth in place, this isn't essential.

- [ ] add `hmac authentication` gem
- [ ] when `hmac authentication` is added, consolidate live site on to a single host, `dolores.18f.gov`

[2015-10-07 15:11] mbland commented on #65
Well, there's two ideas here. :-)

First, and my preference in this case, I'd like to get 18F/hmac_authentication_gem#1 reviewed and merged so that I can release a new [`hmac_authentication` gem](https://rubygems.org/gems/hmac_authentication) that can be integrated into the app.

The second option is to run an instance of [18F/hmacproxy](https://github.com/18F/hmacproxy) on the same host (maybe la

[2015-10-08 14:38] ccostino opened #66 "Add ability to subscribe to specific tagged messages"
As a new hire at 18F, I would like to be able to manage which messages I receive from the Dolores Landingham Slackbot so that I have control over the information that I see.

This work will likely require a general preferences management area for users beforehand and a way to store and retrieve those preferences.

[2015-10-08 20:04] #33 closed

[2015-10-08 20:06] jessieay commented on #33
Merged at https://github.com/18F/dolores-landingham-bot/commit/823871cd04e72db5d76aa7f1dfa78a067146aa9d

[2015-10-13 20:48] #41 closed

[2015-10-14 16:58] jessieay opened #69 "Document that messages should start on "day 0""
See slack convo for reference: https://18f.slack.com/archives/bots/p1444832532000002

We should document (in readme?) that the "day count" for a message is how many days sine the employee started a message should be send out. so we are doing zero-based counting

[2015-10-14 19:54] gboone opened #70 "Interactive "checkers""
Reading over some of the Landingham scripts Mel sent me, got me thinking it'd be great if we could have Mrs. Landingham verify things we expect new hires to do in as automated a way as possible. Example: In the current script, Mrs. Landingham asks:

What if instead of telling the new hire to be sure, we ask them for their username and do a reliable check to make sure 2FA is set up.

A check for me

[2015-10-15 18:30] andrewmaier commented on #69
Let's start on day 1 :) https://18f.slack.com/archives/bots/p1444933820000053

[2015-10-16 00:26] jessieay commented on #70
This is a super neat idea!

[2015-10-16 00:35] #59 closed

[2015-10-16 00:36] jessieay commented on #28
@ccostino moving this GH issue back to next up - I see #66 is about allowing users to subscribe to specific tagged messages. What about just letting users view all messages with a specific tag first?

[2015-10-16 00:59] jessieay commented on #54
Pr for this https://github.com/18F/dolores-landingham-bot/pull/71 -- didn't add paranoia...but maybe we should??

[2015-10-16 13:06] #28 closed

[2015-10-16 13:45] ccostino commented on #70
Yes, huge :+1: to this!

[2015-10-16 14:21] ccostino opened #72 "Add ability to retrieve all users/employees in an organization from Slack"
When the Dolores app first starts, she starts with an empty list of employees.  It would be very helpful if we could provide some way of retrieving all employees and placing them into the app automatically for the admins to make things easier.

[2015-10-16 14:27] ccostino commented on #53
Another question I have:  does our auth setup currently have a means of managing roles and/or permissions, or is that something we will have to build into the app itself?

[2015-10-16 16:29] #54 closed

[2015-10-16 17:31] jessieay opened #73 "Improve flash message when test message send fails"
Melody tried to send a test message to herself and the message failed. The current error message is:

`"Could not update employee with the Slack username you entered. Please make sure there is an employee record for the username listed in #{employees_path}"`

The error occurs when there is no employee record for the slack username entered into the test message box.

Seems like we could improve thi

[2015-10-16 17:32] jessieay opened #74 "Save Slack channel ID in DB"
we do a query each time we send a message to get the slack channel ID for a user. We should save this on the `employee` record so we don't need to hit the slack API each time we send a message

[2015-10-16 17:48] melodykramer commented on #73
Oops! Looks like that employee isn't in the system yet! Make sure you've entered the Slack handle for that employee.

[2015-10-16 18:33] jessieay opened #75 "Update formatting in messages#index"
we show the whole message body now, which looks wacky when the message is long:

![screen shot 2015-10-16 at 11 32 24 am](https://cloud.githubusercontent.com/assets/601515/10550095/a773bcd8-73f9-11e5-8681-58bda6220164.png)

[2015-10-16 18:33] jessieay commented on #75
@melodykramer you agree that we should just show the first bit of the message on this page and allow someone to view the whole thing by clicking on the title?

[2015-10-16 18:34] melodykramer commented on #75
Yes, @jessieay - first bit is fine!

[2015-10-16 18:36] melodykramer opened #76 "Allow time in addition to days after hire?"
We could make messages much shorter if we could post multiple times in a day. One way to do this is to say "What time would you like to post this?"

Considerations: time zones, DST, Arizona (which has wacky DST rules)

[2015-10-16 21:39] jessieay commented on #72
@ccostino we can do that with the Slack API, but we would not have the start date so would want to do it in such a way that Dolores admins know they have to add start date (Slack API does not make sign up date available, if my memory serves me)

[2015-10-16 21:46] #75 closed

[2015-10-16 21:46] #51 closed

[2015-10-16 21:46] #73 closed

[2015-10-16 21:55] jessieay opened #78 "Default page should be messages index"
Right now the root path is the new employee form. It makes more sense to show the list of messages, since that is the most interesting part of this app...I think?

[2015-10-19 14:27] ccostino commented on #78
I think this makes sense for right now.  In the future I could see a dashboard page of sorts that lets you easily get to whatever task you want to accomplish right away, but for right now the messages are definitely the highlight of the app. :-)

[2015-10-19 19:00] HobokenMartha opened #80 "Readme file missing a word"
https://github.com/18F/dolores-landingham-bot#dolores-landingham-bot

Mrs. Landingham will *[brief?]* 18F employees about working in the federal government, how to set up travel, how to add their biographical information and pictures to our Hub, and other facts that will help them get acclimated to both 18F and the federal government.

[2015-10-19 21:36] jessieay opened #81 "no @ is required for Slack names"
make note of this in docs and/or form for adding employees

[2015-10-19 21:45] melodykramer commented on #81
One other thing: no spaces can be after the username, either. :)

[2015-10-20 13:11] melodykramer commented on #69
I don't care which of these was decided upon - but there's conflicting info here. Did we decide on 0 or 1?

[2015-10-20 16:26] jessieay commented on #69
The current implementation is "Day 0" - will move to starting on Day 1 and document that when I get a chance. For now, start on Day 0 and I will update all of the messages when I change the day count stuff :)

[2015-10-20 16:50] melodykramer commented on #69
I'm actually fine with keeping it as Day 0. It makes sense in my head, as their starting day. And +1, is first day +1 - it's actually easier to keep track of. So my vote is keep as is, and just note that :)

[2015-10-20 19:15] ccostino opened #82 "Dolores App needs at least 1GB of memory in production"
An issue cropped up today when @melodykramer tried to save a new message and the app crashed and responded with a 500 error code.  In looking at the logs with @afeld we discovered two things:  the app had crashed with an out of memory error, and the current memory limit of the app is set to 512MB.

We need to change the memory limit to be at least 1GB in the app manifest.yml file.

[2015-10-20 19:18] afeld commented on #82
https://docs.cloudfoundry.org/devguide/deploy-apps/manifest.html#memory

[2015-10-20 19:38] #82 closed

[2015-10-20 20:10] leahbannon opened #84 "where are the messages in the repo?"
Hi - I'd like to file a PR against something in the message I just got from the bot. But I can't find that in the repo. Putting this in the README would be super helpful, too.

[2015-10-20 20:18] jessieay commented on #84
Hey @leahbannon  - the message are in a database.You can auth at dolores-app.18f.gov with your GSA email and see the list of scheduled messages

If there is a small typo or problem, you can update the message there. If it is something larger, perhaps you can leave a comment here and @andrewmaier / @melodykramer can address it.

There is a future plan to only allow certain people to create / edit m

[2015-10-20 20:21] jessieay commented on #53
@gemfarmer set up MyUSA, perahps he has some suggestions on this?

[2015-10-20 20:22] jessieay commented on #84
This does bring up an interesting point - ideally we could have some sort of version control on the message content. We could add papertrail (https://github.com/airblade/paper_trail) to keep a complete record of message history/changes, but what we care about here is less keeping track of history and more making sure that changes are going through some sort of review / peer editing process.

[2015-10-20 20:25] jessieay commented on #42
@gemfarmer is this done?

[2015-10-20 20:27] jessieay opened #85 "Update design"
Jessie started a branch here -- https://github.com/18F/dolores-landingham-bot/tree/jy-style-fun

This replaces our current design setup with the bourbon/neat gems. The style on that branch looks pretty much the same as what we have no but with less code.

Next step would be to improve the readability of the views.

[2015-10-20 23:37] melodykramer commented on #84
@leahbannon Please let me know what you'd like to change.

[2015-10-20 23:40] jessieay opened #88 "Document auth/deployment configs and possible alternatives"
See convo here: https://twitter.com/alexhillman/status/656611816223744000

Most people are not going to want MyUSA auth and CF deployment. How should we handle this? Perhaps document some alternatives or link to alternatives that others come up with?

[2015-10-20 23:44] melodykramer commented on #53
This is super important - I don't think we want a scenario where anyone can go in and change previous messages — particularly because they're designed as a block of material.

[2015-10-20 23:47] alexknowshtml commented on #88
https://github.com/rauchg/slackin has become widely popular as a slack tool, at least due to the one-click Heroku deploy.

I'm personally comfortable navigating a clone/deploy with a bit more guidance, but it'd be awesome to see this easily fired off to Heroku.

[2015-10-20 23:48] jessieay commented on #53
agreed - going to come up with the quickest / easiest solution I can think of and go with that for now. Def a top development priority

[2015-10-20 23:53] jessieay commented on #88
Nice! Didn't know about that project. Very cool.

For reference, since we are part of the :us: gov and must comply with certain standards, 18F cannot deploy our projects to Heroku. But I 100% think it's a good idea to provide an easy way for those outside the government to deploy to Heroku since that is a common industry practice.

[2015-10-20 23:55] alexknowshtml commented on #88
Totally understood (and I'm a huge fan of 18F and many of your crew members). Like I mentioned on Twitter, I'm hoping we can contribute some docs to help others use this tool and as a result, have more people aware of 18F and what y'all do!

[2015-10-20 23:55] melodykramer commented on #88
Hey @alexknowshtml! Do you have docs for this stuff?

[2015-10-20 23:56] melodykramer commented on #88
(Fun to see real life and work worlds collide...)

[2015-10-20 23:57] alexknowshtml commented on #88
@melodykramer not yet - I'm gonna see if I can get a hand from some Indy Hall members to get this running. Happy to submit PRs once we do!

[2015-10-21 00:07] jessieay commented on #88
Great, can't wait.

As a starting off point, I'd have anyone working on deploying check out https://github.com/18F/dolores-landingham-bot/blob/master/CONTRIBUTING.md

You'll want these env vars defined on Heroku: https://github.com/18F/dolores-landingham-bot/blob/master/.sample.env

And a worker dyno (for DelayedJob, which this app uses to queue messages) as well as a clockwork (which we're using

[2015-10-21 01:15] melodykramer commented on #80
This was fixed.

[2015-10-21 01:15] #80 closed

[2015-10-21 01:25] leahbannon commented on #84
Sure thing. I was going to change "she or he" to "they" so it's not gender binary. And then check other messages for that as well.

[2015-10-21 01:39] jessieay commented on #53
I think the best plan of attack would be to create users in the database similar to how C2 does it with MyUSA: https://github.com/18F/C2/blob/91231060f7c32e31ea3332368ed0fb86316f01e6/app/controllers/auth_controller.rb#L5

the auth hash contains the email address. Then, we can manually set certain users as admins and only those users will be able to create / edit messages.

Melody, what about creat

[2015-10-21 12:26] melodykramer commented on #53
I think anyone should be able to update employees - because people might want to duck out of the bot messages, and should be allowed to do so.

Testing messages - everyone as well, I think.

[2015-10-21 12:47] melodykramer commented on #84
I will make those changes right now. It only affected message 1.

[2015-10-21 14:09] ccostino commented on #76
@melodykramer and @jessieay:  I was thinking about this a bit more, and one solution I came up with to solve the disparity with time zones is that we could store that info with the rest of the employee info (along with their started on date) so that we could always send a message at their local time.  In other words we would be able to just set a time, e.g., 10:00 AM, on a scheduled message and th

[2015-10-21 14:15] melodykramer commented on #76
This would be an excellent approach. (And useful for other things too.)

[2015-10-21 16:39] jessieay commented on #84
Since this appears to be resolved, I am closing this issue. Thanks all! :100:

[2015-10-21 16:39] #84 closed

[2015-10-22 15:02] ccostino commented on #76
Great, thanks @melodykramer!

@jessieay and @gemfarmer:  I'm reading conflicting things about whether or not to set the default time zone in the application.  My take is that it reduces the probability of date/time related weirdness by not accounting for what the server's time is set.  If it's set in the app then it can be deployed anywhere without concern for this as we can expect it to behave co

[2015-10-22 15:35] melodykramer commented on #76
One thing I was thinking about this morning - I don't want these notes to show up on the weekends. And it's going to get REALLY hard to determine holiday Mondays . I'm not sure how to fix this, but thought I would bring it up in this thread. I think it's much harder to think "Oh, that's for day 104" than to think "That's for the 4th Friday in their second Month."

[2015-10-22 15:36] ccostino opened #89 "Fix tags not being loaded properly in the scheduled message edit form"
I noticed an issue with the scheduled message form when loading a previously saved message.  The tags were not being displayed with the separator (a comma), causing them to be saved as a single tag upon updating the message.

[2015-10-22 15:47] ccostino commented on #76
@melodykramer:  Hmmm, really good point about that.  On the one hand, any messages sent while you're offline will be there when you login again, but I can imagine it would be easy to miss those messages as well.

I'd tackle this in a separate issue which I can create, but thank you for bringing this up, it is something worth keeping in mind!

[2015-10-22 15:52] ccostino opened #91 "Ensure that scheduled messages are sent during business days"
As an admin for the Dolores Landingham bot, I do not want to have scheduled messages be sent during weekends or holidays so that new hires do not miss important information.

As of now, our scheduled messages will be sent out X days after an employee's start date.  However, those X days should not take into account weekends and holidays.  Obviously we cannot anticipate days employees are out on si

[2015-10-26 14:22] melodykramer commented on #72
As an interim solution, even just a dropdown with everyone's Slack handles would be helpful. My current workflow is: looking to see who wants to be added, finding their Slack handle, typing it in. Not everyone's handle is intuitive, but a drop-down menu containing all 18F Slack handles would save the step, and then the start date could be entered manually.

[2015-10-26 17:04] jessieay commented on #72
@melodykramer that's a great idea and wouldn't be too difficult to implement

[2015-10-26 17:57] melodykramer commented on #72
Awesome, thanks @jessieay!

[2015-10-27 18:21] melodykramer opened #92 "Way to add new message and push every other message down a day?"
I realized I'd like to add a message for week 1 and shift every other message by a day. I don't think this is currently possible, but would make a nice feature (Or the ability to move the messages in a different order.)

[2015-10-27 22:44] #78 closed

[2015-10-27 23:38] #89 closed

[2015-10-28 00:07] jessieay commented on #69
started work on this here https://github.com/18F/dolores-landingham-bot/compare/jy-1-based-counting?expand=1 (going to complete as part of the larger story of having admin users)

[2015-10-28 00:07] jessieay commented on #53
Started work on this here https://github.com/18F/dolores-landingham-bot/compare/jy-1-based-counting?expand=1

[2015-10-30 14:56] ccostino opened #94 "Deleting employees does not cascade deletes"
When you delete an employee from the application it does not appear to cascade deletes, which means that several invalid records persist in the database such as SentScheduledMessage objects that reference Employee objects that are no longer there.

[2015-10-30 17:38] melodykramer opened #95 "Ability to put "end date" on message"
Would love to tell all new hires between now and offsite that offsite will be on xx dates - but do not want new hires beyond that date to receive a message. Is there a way to put an "end date" on certain messages?

[2015-11-02 16:36] ccostino commented on #92
@melodykramer:  I had thought some about the idea of sending multiple messages a day when I was working on the time of day and time zone support, and it sounds like it'd be a good thing to add support for general message priority.

It could be as simple as adding a priority or order field to messages and just setting the overall order of all of them.  This would keep it separate from how many days

[2015-11-02 16:39] ccostino commented on #92
@melodykramer: You're also asking for all other messages to shift back a day though when inserting a new one into the mix that should go out before others.  Perhaps it could be worked in that by default it does that but we provide an option to override and not adjust the day to send a message out (or vice versa).

[2015-11-02 17:52] melodykramer commented on #92
Yes, maybe the time/date is decoupled from the message orders.

A >>> B >>>> C

and then somewhere else

Monday >>> Tuesday >>> Wednesday is a holiday...so Thursday

[2015-11-03 21:29] #76 closed

[2015-11-04 18:36] ccostino opened #97 "Messages were not sent to everyone"
After deploying the time zone enhancement for issue #76, we noticed that some messages were not sent today, at least to EST employees.  This needs to be addressed to ensure that all folks receive messages from Dolores when expected.

[2015-11-04 20:42] #97 closed

[2015-11-04 21:43] annahsebok opened #99 "missing 12pm ET message from Dolores"
@ccostino posted in #general-talk that folks who signed up to receive messages from @mrs_landingham were supposed to get them at 12 PM local time (whichever time zone you are in) today. I DID hear from @mrs_landingham today, but at 3:44pm and not at 12pm. My Timezone in tock is set to EST, so not sure why it didn’t come at 12pm EST. The text from her message was as follows:

Everyone at 18F must c

[2015-11-05 13:11] ccostino commented on #99
Hi @annahsebok!  The reason you received the message at 3:44 PM instead of 12:00 PM is because there was a bug yesterday that prevented some messages from going out at the time they were scheduled to go out.  The fix didn't get deployed until about 3:40 PM (EST) yesterday, and as a part of the fix it was setup to send any outstanding messages that hadn't been sent already, hence the reason why it

[2015-11-05 13:11] #99 closed

[2015-11-05 13:19] ccostino opened #100 "Messages were sent out to all employees at the same time this morning"
This morning I noticed I had received a message from the bot at 7 AM EST when all of the messages are still scheduled to go out at 12 PM.  Upon looking at the listing of sent scheduled messages, it appears that everyone, regardless of their time zone, received a message at the same time this morning.  It would appear the fix yesterday for issue #97 didn't quite hit the mark, unfortunately.

The te

[2015-11-06 22:13] #100 closed

[2015-11-06 22:13] #38 closed

[2015-11-09 15:55] ccostino opened #104 "Add support for time and time zone diagnostics"
We are still experiencing an issue with scheduled messages not being sent at the correct time and at this point it is unclear as to what the problem is.  Despite the Rails configuration having the timezone set to "UTC" it appears that the server time the app is deployed to could still be used for the time comparison checks, delayed job scheduling, etc.  It's possible we may also need to have the `

[2015-11-09 16:53] ccostino commented on #104
This could also be an issue with using Clockwork, particularly the setting of a scheduled event:  https://github.com/tomykaira/clockwork#tz-1

[2015-11-09 21:38] #104 closed

[2015-11-16 21:07] DavidEBest opened #110 "Ability to ask product leads to update about.yml files"
Maintaining data freshness is an ongoing concern for the [dashboard](https://18f.gsa.gov/dashboard/). Right now, the dashboard pulls all of its information from the individual repo's .about.yml files, via the team API.

Would it be possible for this bot to ping product leads regularly (every 2 weeks? monthly?) with the contents of their .about.yml files and ask them if everything is up to date?

I

[2015-11-18 19:13] #47 closed

[2015-11-19 14:24] ccostino opened #111 "Messages cannot be sent out late at night"
It appears there is another issue related to the employee message matching when sending messages late at night, this time in checking the start date of the employee.  After a certain point in time in the evening (I was testing between 9:00 PM and 10:00 PM) two tests start to fail:

* MessageEmployeeMatcher#run matches messages to users based on days after start
* MessageEmployeeMatcher#run ignores

[2015-11-19 18:11] jessieay commented on #111
ha! that's really interesting. To be clear: you were testing between 9pm and 10pm ET?

[2015-11-19 19:24] ccostino commented on #111
I know, this just doesn't seem to end!  Yes, I was testing between 9 PM and 10 PM EST. :-)

[2015-11-20 20:03] monfresh opened #113 "Consider replacing capybara-webkit with poltergeist"
This repo is currently using v1.x of capybara-webkit, which results in the following warning when running the specs:
[code]
If you're planning on upgrading to v2 of capybara-webkit when it comes out, then it will require anyone who is contributing to this repo to have Qt 5.0 installed on their machine, which in turn requires the full Xcode app to be installed.

Having to download a multi-gigabyte

[2015-11-23 16:54] harrisj opened #114 "Add support for nagging?"
I was wondering if you'd consider adding an option for the bot to nag people about certain important things on a deadline. So, for instance, at 30 days out, it could ask "Have you signed up for healthcare yet? You only have 30 more days to do so! (Tell me shush if you already have)" and repeat at 45 or 60. Similar gentle nags could be added for things like ethics disclosures and the like (as well

[2015-11-23 18:36] melodykramer opened #115 "Future Dolores messages"
Please post them here.

[2015-11-25 21:15] jessieay commented on #69
This was addressed via https://github.com/18F/dolores-landingham-bot/pull/103

[2015-11-25 21:15] #69 closed

[2015-11-25 21:16] jessieay opened #116 "Add Travis badge to README"
We have the Travis integration set up, but we should put the badge in our README

[2015-12-01 20:33] #116 closed

[2015-12-03 19:21] jessieay commented on #114
I think this is a great idea! One related idea someone mentioned earlier was a nag for thinks that Dolores could also check automatically.

eg:

Mrs. Landingham: Have you set of 2FA for Slack?
Employee: yes
Mrs. Landingham: You will be kicked out of Slack in 1 day of you have not set up 2FA. Are you sure you set it up?
Employee: yes
Mrs. Landingham: I can see that you haven't set up 2FA in Slack.

[2015-12-08 17:24] jessieay opened #120 "Generate an about.yml file"
https://github.com/18F/about_yml

[2015-12-11 18:14] jessieay opened #122 "Explore intermittently failing specs"
This branch failed here: https://travis-ci.org/18F/dolores-landingham-bot/builds/94793132

but then passed on other runs without any code changes. I suspect this is related to timezones.

[2015-12-11 18:57] ccostino commented on #122
If this is related to the timezones I wouldn't expect to see so many other failing specs.  When I last ran into a similar issue (testing at a certain time at night, at least in EST), it was only a couple of specs that failed.  This is described in more detail here in #111.

In looking at the Travis log, a whole bunch of stuff bombed that's unrelated, mainly with undefined methods.  Could the build

[2015-12-11 19:01] jessieay commented on #122
oh yes the build I linked to was related to updated *all* gems and having some deprecated RSpec matchers in there. There was another failure with just 2 failed specs. But not I cannot find it! Darn

[2015-12-11 19:01] jessieay commented on #122
that build with the 2 failing specs was deployed later in the evening last Friday, so I suspect it was the same issue Carlo saw before. Perhaps a testing strategy would be to set current time to 7pm PT or something

[2015-12-11 20:28] ccostino commented on #122
Okay that definitely sounds like the timezone issue then, that makes sense! :-)

[2016-01-05 19:20] jessieay commented on #19
we should skip over weekends and federal holidays. should automate skipping of weekends

[2016-01-05 19:21] jessieay commented on #19
will need to re-number scheduled messages before deploying this.

[2016-01-05 19:23] melodykramer commented on #19
How so? I'm putting in a ton more messages right now and am happy to renumber as I go.

[2016-01-05 19:33] jessieay commented on #19
We can provide more specific instructions once this is implemented (@gemfarmer is currently working on it)

The idea, generally, would be that messages would be numbered according to sequence and would automatically skip weekends and holidays.

so instead of day counts and week days looking like:

1 - Monday
2 - Tuesday
3 - Weds
4 - Thurs
5 - Friday
9 - Monday
10 - Tues

it would be:

1 - Monday
2

[2016-01-05 19:37] melodykramer commented on #19
Sounds good. Let me redo these and I'll ping here when that's finished.

[2016-01-05 19:38] jessieay commented on #19
@melodykramer don't do it quite yet! Brian is still working on making the above numbering a reality so we should renumber when we are ready to deploy changes

[2016-01-05 19:48] melodykramer commented on #19
I will wait! Just let me know when to switch - it'll be easy once you say "Go!"

[2016-01-05 21:33] melodykramer commented on #19
@jessieay Does that new numbering account for holidays that change dates? For example:

Week 1 Day 1 of 2016, 2017, 2018 is always an off day.
Thanksgiving is Month 11 Fourth Thursday - so that date changes.

I think what you've outlined skips weekends but I'm not sure it accounts for the holidays.

[2016-01-05 21:33] melodykramer commented on #19
I'm looking now to see if Mailchimp has tackled this - I'm sure this is a problem that has been solved before.

[2016-01-05 21:35] bennovack commented on #19
Do you have a definitive online calendar of holidays you could link in?

[2016-01-05 21:36] jessieay commented on #19
@melodykramer brian is looking into how to deal with holidays. We discussed possibly having them be manually added at first. there are probably some ruby gems out there that deal with calculating the changing dates on a year to year basis as well

[2016-01-05 21:40] melodykramer commented on #19
Oh! Cool, here's the manual list - I'm happy to add it:

https://www.opm.gov/policy-data-oversight/snow-dismissal-procedures/federal-holidays/

And here's a post I found about skipping holidays:

http://blog.mailup.com/2014/02/triggered-messages-weekends-holidays/

[2016-01-05 21:46] cllns commented on #19
The [`business_time`](https://github.com/bokmann/business_time) gem might help, and it has a section on its README about integrating with the [`holidays`](https://github.com/holidays/holidays) gem

[2016-01-05 21:47] melodykramer commented on #19
:+1: @cllns and @bennovack Thanks!

[2016-01-05 22:04] melodykramer commented on #52
This would be really, really useful.

[2016-01-06 17:58] melodykramer commented on #19
Going to close https://github.com/18F/dolores-landingham-bot/issues/91 because it's folded into here. Also adding @gemfarmer to this issue as assignee. Dolores is on hiatus until this is resolved, I think.

[2016-01-06 17:58] melodykramer commented on #91
Closing because #19 will address this.

[2016-01-06 17:58] #91 closed

[2016-01-06 18:00] melodykramer opened #125 "Ability to send message to all Dolores users *right now*"
This is a slightly different use case for Dolores but would immensely help the @18F/comms and @18F/blog teams: the ability to message all Dolores users with the same message at once.

Use cases:

1. Alerting people to new features in Dolores
2. Asking people for information for the all-hands
3. Querying for upcoming blog posts or newsletters

The Comms team needs a way to communicate with each mem

[2016-01-06 18:04] jessieay commented on #125
@melodykramer this would be pretty easy to implement.

[2016-01-06 18:10] melodykramer commented on #125
I think it would be a huge :+1:  for the @18F/blog team.

[2016-01-06 18:10] melodykramer commented on #125
(But I think the admin level should be there too. I'm not sure we'd want everyone to have access to this feature.)

[2016-01-06 19:24] awfrancisco commented on #125
So then all the replies go back to Dolores and the comms admin logs in as Dolores and manages all the replies individually?

[2016-01-06 19:26] jessieay commented on #125
We aren't currently logging responses sent to Dolores. Does this feature require that? Was thinking it was more of a one way thing. If we need to log responses, that's good to know.

[2016-01-06 19:31] melodykramer commented on #125
Yes, we would need a way to log the responses or collect them in some way.

[2016-01-06 19:44] gboone commented on #125
I'm not really sure how the sending of messages would work but maybe a "reply-to" feature where replies get sent to a group DM or a channel set by whomever triggers the sending.

[2016-01-06 19:57] jessieay commented on #125
@melodykramer if you could get in touch with blog / comms teams and figure out what the most helpful way to display responses would be (group DM or channel) that would be great.

One limitation here is that I don't know if it will be possible send **certain** Mrs. Landingham replies to certain channels but not others. aka - we could have *all* replies forwarded to an email address, but we can't ju

[2016-01-06 20:00] awfrancisco commented on #125
I think a channel would be better than a DM in case the Dolores monitoring team changes or the types of messages sent out change. Not sure how many unsolicited responses Dolores gets at the moment, but might be good to have a channel to drop those into anyway.

[2016-01-06 20:24] gemfarmer commented on #19
@melodykramer Thanks!
@cllns @bennovack I was thinking about potentially manually adding blackout dates instead of relying on a gem.
My thinking here is that 18F has several non-holiday do-not-disturb days, this might give us more control. Of course, maybe a dual approach would work. Add gems + additional blackout dates.

Thoughts?

[2016-01-06 20:55] cllns commented on #19
It looks like `holidays` [has support](https://github.com/holidays/holidays#loading-custom-definitions-on-the-fly) for adding custom 'holidays'. The only trouble is that it get confusing, since they're not really holidays. Maybe preface the custom holidays with '[do-not-disturb]' or something?

[2016-01-07 14:40] #120 closed

[2016-01-07 17:58] melodykramer commented on #125
Agree with @awfrancisco

[2016-01-07 18:09] melodykramer commented on #125
It would also be useful to send out messages to a subset of Dolores users: i.e. everyone managing a comms project, everyone on the Dev team, etc.

[2016-01-07 19:56] melodykramer commented on #19
I don't mind adding blackout dates manually, @gemfarmer - there aren't that many federal holidays + offsites.

[2016-01-08 13:55] ccostino commented on #19
Awesome suggestion on the gems!  It got me thinking about the timezone support added in a while back, and when I looked into the `business_time` some more I saw this note:

...Yeah, that about sums it up. :-)

[2016-01-08 22:32] #19 closed

[2016-01-11 16:04] melodykramer commented on #92
I'm closing this because having the ability to add time gives us the ability to do this.

[2016-01-11 16:04] #92 closed

[2016-01-11 16:45] melodykramer opened #127 "Cannot add new employees"
Getting two error messages whenever I try to add any new employee:

Could not create employee
There is not a slack user with the username "username" in your org.

Things I did that may have caused this:
- deleted "melodykramer" and tried to readd "melodykramer"
- added a PIF who is not part of 18F org. (Got second error message.)

[2016-01-12 18:28] gemfarmer opened #128 "Pagination causing problems with display"
Paginating the list of employees is leading to a few issues:
* not all employees are listed
* others are listed twice

This is annoying because it __looks__ llike a user doesn't exist, but they actually do, so we are tempted to create a new user, but a record with that `slack_username` exists and nothing is changed.

I am proposing that we, in the interest of simple approaches, remove the paginati

[2016-01-12 18:40] melodykramer commented on #128
That works for me!

[2016-01-12 19:33] ccostino commented on #128
@gemfarmer:  I'm in favor of this as well; the pagination was added only as a quick stop-gap to prevent the pages from growing too long, but clearly it's not quite working right.  Adding a filter mechanism is definitely a good idea to keep things manageable, with or without pagination!

[2016-01-12 20:42] monfresh commented on #128
I'm pretty sure this is due to sorting by a non-unique key (`started_on`). Postgres doesn't guarantee the same sort order when multiple records have the same value for the column that is being used to sort. You can test this theory by sorting by Employee id instead.

[2016-01-12 21:31] jessieay commented on #128
ah yes! we should sort by `created_at` instead

[2016-01-14 18:44] ccostino commented on #128
D'oh!  Thanks for the clarification, @monfresh!  Perhaps we could reinvestigate this after the filtering is done because it would be helpful as more employees and messages are added, and especially as more messages are sent and recorded.

[2016-01-14 19:13] gemfarmer opened #130 "Sent Schedule Messages bug"
If you go to the [sent scheduled messages view](https://dolores-app.18f.gov/sent_scheduled_messages), the app errors out. The logs are below. I'm pretty sure this because the view is looking for the `slack_username` of an employee that no longer has a record. The `sent_scheduled_messsages` model [delegates](https://github.com/18F/dolores-landingham-bot/blob/master/app/models/sent_scheduled_message

[2016-01-14 19:18] jessieay commented on #130
we should add a `dependent: :destroy` on sent scheduled messages for a deleted employee.  can use paranoia to make sure we don't *actually* delete data https://github.com/rubysherpas/paranoia

[2016-01-14 19:53] gemfarmer commented on #130
@jessieay I like it. :+1:

[2016-01-15 17:18] knagode opened #131 "Example doesn't work"
When visit on https://dolores-app.18f.gov/, fill in my info for registration (or use google authentication) I am redirected to page with error:

URL:
https://dolores-app.18f.gov/auth/myusa/callback?code=c08bd2b41cd6cbbde175e5394824530a1065ca3cea9ab5a435de260fa7fc102b&state=ac5018a98d38fd0814c0577ba8a638ab48d2f72fda6782ad

Page error:
The page you were looking for doesn't exist.
You may have mistyp

[2016-01-15 17:24] jessieay commented on #131
Hi @knagode are you authenticating with a `@gsa.gov` email address?

The deployed app requires you to have a GSA email address. See: https://github.com/18F/dolores-landingham-bot/blob/823871cd04e72db5d76aa7f1dfa78a067146aa9d/app/controllers/auth_controller.rb#L19

If you do not have a gsa email address and would like to use this app, I suggest setting it up locally and updating the auth controller

[2016-01-15 17:29] knagode commented on #131
OK, will try to run it locally then. Thanks!

[2016-01-15 17:30] jessieay commented on #131
Let us know if you have any other questions. Closing this issue for now. :earth_asia:

[2016-01-15 17:30] #131 closed

[2016-01-19 21:58] melodykramer commented on #125
Just bumping this as it would be a super useful feature for us.

[2016-01-21 17:40] jessieay commented on #130
im working on this now

[2016-01-22 23:03] #130 closed

[2016-01-22 23:26] jessieay commented on #130
This is fixed and deployed! https://dolores-app.18f.gov/sent_scheduled_messages

[2016-01-25 17:14] #122 closed

[2016-01-25 19:26] melodykramer commented on #53
Editing + adding messages = some employees.
Updating employees = all employees.
Testing messages = all employees.

[2016-01-25 21:57] gemfarmer opened #137 "Filter for sent schedule messages is broken."
Now that SentScheduleMessages is back up, it is clear that the filter isn't working. Even though it was at one point. sigh

[2016-01-26 01:04] jessieay commented on #137
what are you putting into filter to search? would be helpful info for someone trying to help out with this issue

[2016-01-26 01:04] jessieay commented on #128
@gemfarmer is this fixed now?

[2016-01-26 01:05] jessieay commented on #127
@gemfarmer I think this was fixed, right?

[2016-01-26 19:14] afeld commented on #70
@jgrevich and played around with two-factor auth checking for GitHub:

https://trello.com/c/MwuSr1eV/88-automate-adding-users-to-the-github-org

Never did enough testing to enable it on the org, but [gu-who](https://github.com/guardian/gu-who) seems promising.

[2016-01-26 22:48] gemfarmer commented on #127
@jessieay yes. Closing

[2016-01-26 22:48] #127 closed

[2016-01-26 22:53] gemfarmer commented on #137
@jessieay Sure. Any attempt to filter by `slack_username` or `sent_on` does not reduce the displayed records.

Don't start working on this though, I fixed it this afternoon and will push and make a PR shortly or tomorrow morning.

[2016-01-26 22:54] gemfarmer commented on #128
@jessieay The pagination should be gone, but I kept the issue open because based on @monfresh and @ccostino's  comments, it might be a good idea to re-introduce pagination in addition to the filtering. Thoughts?

[2016-01-27 19:08] ertzeid commented on #125
I'll try to take a look at this this week.

Can an intermediate step for responses be to just include in the message who to follow-up with if people have questions?

[2016-01-27 19:12] melodykramer commented on #125
Yes - or a user-group!

[2016-01-27 19:29] melodykramer commented on #125
@ertzeid  Like what @awfrancisco said above.

[2016-01-27 19:37] jessieay commented on #125
@ertzeid Before we give Dolores these great powers, we want to make sure that only certain users can do this. As part of that effort, last week I added a Users table to the DB so we are saving users and not just using session vars. Let us know if/when you start working on this. When you do, make sure it is a feature only available to admins.

[2016-01-29 15:27] #137 closed

[2016-01-29 15:44] gemfarmer commented on #128
I just reintroduced pagination and pushed it live with #138

[2016-01-29 15:44] #128 closed

[2016-01-29 15:46] gemfarmer commented on #94
@ccostino I believe that this was fixed with #132.

[2016-01-29 15:46] #94 closed

[2016-01-29 15:54] gemfarmer commented on #42
@jessieay this still hasn't been done, but it is **very low** priority. Basically I didn't like that the site exists simultaneously at `dolores.18.gov` and `dolores-app.18f.gov`, but this was done for proxying purposes, and isn't _exactly_ a problem. I think this issue could be nixed in favor of #65, which would change the auth to Mike Bland's [`hmac_authentication` gem](https://rubygems.org/gems/

[2016-01-29 15:55] gemfarmer commented on #65
Moving task from #42 here. When `hmac authentication` is added, consolidate live site on to a single host, `dolores.18f.gov`

[2016-01-29 15:59] mbland commented on #65
Happy to help if needed, and to share the secret key when ready. The [`hmac_authentication` gem](https://rubygems.org/gems/hmac_authentication) is good to go, and [bitly/oauth2_proxy support](https://github.com/bitly/oauth2_proxy/pull/147) is live.

[2016-01-29 16:10] jessieay commented on #65
This sounds fine to me. Can someone explain the benefit of hmac proxy over what we have now?

[2016-01-29 16:26] mbland commented on #65
It wouldn't be an HMAC proxy (in the sense of running an instance of [18F/hmacproxy](https://github.com/18F/hmacproxy)), but it would involve integrating the `hmac_authentication` gem to receive authenticated requests from our bitly/oauth2_proxy instance.

It isn't urgent by any means at this point if MyUSA OAuth2 support is already integrated. But it would allow SSO across participating *.18f.gov

[2016-02-05 15:52] melodykramer opened #140 "Ability to create instances of Dolores that are team-specific"
As a member of the onboarding team, I would like a way to send messages to new developers at 18F with messages that are specific to the new developers.

i.e. a way to add users to specific streams of messages

Other use cases:
1. Specific messages to onboard people onto roles or projects
2. Messages to teach a specific class, such as Javascript or IA
3. Messages that can onboard PIFs

[2016-02-05 18:53] jessieay commented on #140
thanks for the detailed description!

[2016-02-05 18:54] melodykramer commented on #140
Sign up person X for 18F messages, dev messages, onboarding messages... (just thinking out loud here.)

[2016-02-08 19:32] gemfarmer commented on #85
@jessieay just so you know I picked up where you left off and have been styling the site to be in line with the recently released [18F Branding](https://pages-staging.18f.gov/brand/visual-style/)

[2016-02-08 21:10] ccostino commented on #85
@gemfarmer:  Thank you!  I haven't had the time to tackle this at all and appreciate you jumping in on it.

[2016-02-08 23:01] jessieay commented on #53
addressed via https://github.com/18F/dolores-landingham-bot/pull/141 -- closing

[2016-02-08 23:01] #53 closed

[2016-02-12 15:15] melodykramer commented on #111
I think this has been fixed - all of the messages are now being sent at normal times. May I close this issue?

[2016-02-12 15:15] #36 closed

[2016-02-12 16:34] jessieay commented on #111
we still cannot send messages past 4pm because of a timezone issue and how that works for users in PST.  I think we can keep this open and try to fix this

[2016-02-12 16:35] melodykramer commented on #111
Oh, I see - ok!

[2016-02-12 22:21] gemfarmer commented on #85
Np. I haven't had much time to work on it this week, but I like where it is going.

[2016-02-16 17:22] nicoleslaw opened #142 "Ability to delete a message"
As the onboarding lead, I need to be able to delete messages that are no longer important or relevant (or, in today's case, added by mistake).

[2016-02-16 23:24] jessieay commented on #142
To clarify for whoever works on this (probably future me) - this should be possible for users who are admins only.

[2016-02-19 23:52] gemfarmer commented on #85
Closed with #145

[2016-02-19 23:52] #85 closed

[2016-02-23 20:57] jessieay commented on #81
to implement this, we should add a form validation that does not allow an `@` or a space after the username when filling out the employee#new form (or creating data in general)

[2016-02-26 02:29] jbcden commented on #142
Hello! I thought I'd try my hand at this issue but I am having trouble getting setup. I have been following the instructions in the contributing documentation; however, I am getting a message stating that: `The requested scope is invalid, unknown, or malformed.` I am definitely being redirected to `/auth/myusa` by the `authenticate!` action but I'm not sure why I am failing to be authenticated. I

[2016-02-26 02:32] jbcden opened #146 "Setup troubles"
Hello! I thought I'd try my hand at contributing to [this](https://github.com/18F/dolores-landingham-bot/issues/142) but I am having trouble getting setup. I have been following the instructions in the contributing documentation; however, I am getting a message stating that: `The requested scope is invalid, unknown, or malformed.` I am definitely being redirected to `/auth/myusa` by the `authentic

[2016-02-26 02:44] jbcden commented on #146
I am also seeing
[code]
when I look in the Chrome console.

[2016-02-26 04:55] SukhGrewal commented on #142
Assume this is for Slack
Would you consider our product VEOCI that already has these and other features that teams need? WE developed Veoci with ten years of experience at GE on what teams need to get their work done. The ability to keep a messaging space clean was one of the first things we did - in real work, it is needed. For example, if someone types in a wrong IP address, you want that correc

[2016-02-26 18:26] jessieay commented on #146
Hi @jbcden ! Thank you for chiming in and helping out with the bot. Getting you up and running will help ensure the docs are clear / comprehensive for future developers who want to get going on Dolores, so it's a win-win from our perspective. Apologies if it is frustrating for you.

One question about your MyUSA app: did you check the "email" box when setting up your myusa app? That is the scope w

[2016-02-26 18:28] jessieay commented on #142
Hi @SukhGrewal - our team already uses Slack so we are not looking to develop on onboarding application on a different platform.

[2016-02-26 23:59] jbcden commented on #146
@jessieay aha! I had not checked the email box and I also had the first url as just: `http://localhost:5000`. Thanks so much for the quick reply. I would be happy to submit a PR to update the documentation. I think the main points of confusion were the urls and checking the email scope.

[2016-02-27 01:02] jbcden commented on #142
@jessieay, @nicoleslaw I have opened https://github.com/18F/dolores-landingham-bot/pull/147 to address this issue. Please let me know if there are any problems.

[2016-03-02 19:11] #142 closed

[2016-03-02 19:15] jessieay commented on #142
@nicoleslaw this is live on prod!

[2016-03-02 19:30] nicoleslaw commented on #142
:+1:

[2016-03-02 19:33] jessieay commented on #113
@monfresh good idea, just added the "help wanted" tag to indicate that this issue is ready for development

[2016-03-02 19:33] jessieay commented on #125
@ertzeid are you still working on this? `admin` stuff is in master now

[2016-03-02 19:34] jessieay commented on #142
big thank you to @jbcden for stepping in to volunteer on this one. Woot woot! :rainbow:

[2016-03-02 20:13] ertzeid commented on #125
It's still a "when I have time" thing, which is ... rarely, these days. If
someone wants to take it, by all means, but I'll keep it on my to-do list
unless I see it reassigned.

On Wed, Mar 2, 2016 at 2:33 PM, Jessie A. Young <notifications@github.com>
wrote:

[2016-03-02 21:43] gemfarmer commented on #146
@jbcden based on your recent PRs, I imagine this is no longer an issue? Also, as Jessie already said, thanks for contributing!

[2016-03-02 22:48] jbcden commented on #146
@gemfarmer I am all set now. I will open a PR later this week to update the documentation.

[2016-03-03 15:17] nicoleslaw opened #151 "Sort table by date and time"
As the onboarding lead, I need to be able to see the messages at a glance. Right now, they are sorted by date, but the time is ~random. Example below:

![screen shot 2016-03-03 at 10 16 28 am](https://cloud.githubusercontent.com/assets/94900/13498727/271363fc-e129-11e5-93dd-7d72abf0dce9.png)

[2016-03-03 17:04] jessieay commented on #151
Hey @nicoleslaw - agreed, messages should be default be sorted in ascending `day_count` and `time` order.

@gemfarmer weren't you working on something related to sorting records at one point?

[2016-03-03 21:10] gemfarmer commented on #146
@jbcden gotcha. I'll leave this issue open then.

[2016-03-03 21:12] gemfarmer commented on #151
@jessieay I was, but I wasn't getting this specific. I can't get to this next week, but I can put it on my todo list and get to it asap, @nicoleslaw

[2016-03-03 21:16] jessieay commented on #151
cool. I think the first step would be to update default sorting to be ascending day count AND time. second step could be more complicated sorting stuff.

[2016-03-03 21:55] gemfarmer commented on #151
Agreed. I'll approach the default first and merge it as its own PR, then if all goes well we can add some sort of sort UI.

[2016-03-03 22:29] gemfarmer commented on #142
Thanks @jbcden !

[2016-03-04 21:49] jbcden commented on #151
@gemfarmer I could implement the default sort if that would be helpful.

[2016-03-04 22:03] jbcden commented on #81
@jessieay perhaps I am misunderstanding but doesn't https://github.com/18F/dolores-landingham-bot/blob/master/app/models/employee.rb#L6 do what you are describing? Or do you mean more on the front-end side of things?

[2016-03-04 22:07] jessieay commented on #81
yeah I think more of a frontend prompt. I believe right now you get an activerecord validation if the format is wrong but it would be nice to let a person creating an `employee` that the `slacker_username` field should contain the username without an `@`. clients-side validations would also be cool

[2016-03-04 22:10] jbcden commented on #81
If no one else gets to this, I would be happy to work on it.

[2016-03-04 23:17] gemfarmer commented on #151
@jbcden if you have the time, that would be great! Thanks for pitching in!

[2016-03-05 00:08] jessieay commented on #146
https://github.com/18F/dolores-landingham-bot/pull/152 closes this and was merged -- so I am closing manually :)

[2016-03-05 00:08] #146 closed

[2016-03-08 00:19] jbcden commented on #81
While working on this I noticed that HTML5 validations were disabled in the `simple_form` configurations; is there a reason for this? I was planning on using those but if you have disabled them for a reason I can just use some javascript. Thoughts @jessieay?

[2016-03-08 00:31] jessieay commented on #81
@jbcden I am not sure why they were disabled...fine with adding them back in unless others object

[2016-03-13 18:35] rjewell2200 commented on #74
@jessieay I submitted a PR to fix this issue: https://github.com/18F/dolores-landingham-bot/pull/156

[2016-03-16 14:49] nicoleslaw opened #157 "Username validation or send failure error"
I'm not sure how hard this would be, but Dolores should let us know if a username is failing to receive messages. I added @amandaschonfeld's initial username when she joined Slack, and then she changed it—I didn't know the messages weren't coming through until she DMed me asking what happened and I realized the name change wasn't throwing an error etc.

[2016-03-16 15:52] nicoleslaw opened #158 "Dolores response idea"
When I first heard about Dolores, I DMed the bot to say `tell me about benefits` thinking that it would have some sort of logic tied to the handbook. I realize this would take a bit of work to make the current responses more interactive, but I think it would be more useful for people.

[2016-03-16 18:41] jessieay commented on #140
there is a request to use dolores for PIFs, so this might be a feature that enables that (they are in the 18F slack org so would not require a re-deploy of dolores)

implementation brainstorming:

so what I was thinking for these “team specific” messages is that we’d add a tagging system to the DB somehow (acts-as-taggable works)

we already have tagging capabilities for messages

so we’d only sen

[2016-03-17 22:50] #151 closed

[2016-03-17 22:57] #74 closed

[2016-03-17 23:03] jessieay commented on #151
this is now live on production -- thank you @jbcden for your continued contributions!

[2016-03-17 23:04] jessieay commented on #74
this is now live on prod and working like a charm - thanks @rjewell2200 ! This is going to save us a lot of API requests :)

[2016-03-20 15:53] rjewell2200 commented on #74
@jessieay Awesome! Happy to help!

[2016-03-25 17:50] #81 closed

[2016-04-08 04:37] fentie commented on #95
https://github.com/18F/dolores-landingham-bot/pull/159

[2016-04-11 20:11] #95 closed

[2016-04-12 04:04] fentie opened #161 "Expired message display handling"
I was thinking about the concept of messages whose `end_date` has passed... it makes sense to me to supply some sort of visual affordance to the admins, if not hiding them all together. Perhaps some sort of shading across those records in the index view?

[2016-04-12 17:00] jessieay commented on #161
I could see us having a daily cron job that soft deletes expired scheduled messages. Is that kind of what you were thinking? Agreed that we don't want admins to have to sift through old msgs all the time.

[2016-04-12 17:37] fentie commented on #161
It'd depend on how message expiry was used, really... I could see someone wanting to make "seasonal" messages that came up on a recurring basis but were not always active, in which case they would edit the `end_date` every once in awhile vs. recreating the message each time. Alternatively we could add additional sorting to drop them to the bottom of the list, or add a UI option to toggle showing e

[2016-04-12 18:46] jessieay commented on #72
@ccostino seems like you were working on this -- any update? should we unassign you to give others the opp to work on it?

[2016-04-12 18:50] jessieay commented on #157
Steps for completing this:

1) Figure out if we can update an employee's slackusername in our system with it is changed on slack

if above is not possible:
1) Figure out what error is thrown when we attempt to send a slack message to an invalid username
2) Surface that error to app admins -- perhaps via a daily email? Or maybe we should just set up newrelic instead and let that notify us? https://

[2016-04-12 18:53] jessieay commented on #66
We already have tags for messages. What about adding tags for people, too? Then we would only send a message to a person if they have the tag for the message, too. Could tag all messages for new employees with "onboarding" (I'd assume all employees would have the "onboarding" tag if they are new) and then some team-specific messages would have other tags like "design" or "content" and would only g

[2016-04-12 18:57] jessieay commented on #111
This is a real doozy. Time zones arghhh!!

Right now, the reason we cannot send out message past 4pm is that we ensure that the employee's day is the same as the day in GMT (https://github.com/18F/dolores-landingham-bot/blob/master/app/services/message_employee_matcher.rb#L29)

Since 18F has people on the West Coast, if we schedule a message to go out at 5pm, it will never get sent because 5pm PT

[2016-04-12 19:02] jessieay commented on #158
@nicoleslaw perhaps a first iteration of this idea could be to develop a few message / response pairs for dolores. Ideally we could have a default response that she'd give for any message that does *not* match a pre-set message/response. Eg:

Message: "Hello Dolores, tell me about benefits'

Response: "You can learn about benefits at www.example .com"

Message: "Tell me about giraffes"

Response:

[2016-04-12 19:06] jessieay commented on #161
@fentie I agree with your "just let the system run with them available for awhile and see how the users employ them?" idea. Will keep this issue open and see if we get any suggestions for hiding expired messages.

Seems like seasonal messages are separate from expired / expiring messages. Another interesting idea although not one I've hard suggested by users yet.

[2016-04-12 19:09] jessieay commented on #70
Possible way to implement this, iteratively:

1) Message that is only sent on a condition that 2FA is *not* set up on GitHub (or Slack...we could do them one at a time)

2) Message is sent repeatedly (once a day) until 2FA is set up.

Step 2 is similar to https://github.com/18F/dolores-landingham-bot/issues/114 (nagging)

[2016-04-13 00:45] ccostino commented on #72
@jessieay:  Yikes, it's been a while and I honestly can't remember where I left off.  It doesn't look like I submitted a PR for this yet but in looking at the work it appears like I had gotten pretty far.  I can get the branch up-to-date and push it remotely and/or make a PR out of it for someone else to take a look and pick up as I am pretty well booked at this point.

I'm more than happy to let

[2016-04-13 14:19] #113 closed

[2016-04-13 14:20] jessieay commented on #113
@monfresh thank you for the suggestion. merged to master at https://github.com/18F/dolores-landingham-bot/commit/b971d8f4b61fa9bd285d286f8d2e8c3f01f83ffc -- thank you to @fentie for the PR!

[2016-04-15 14:27] nicoleslaw commented on #158
I like that! For the second one, maybe: "I'm sorry, I'm not sure what you mean. Try searching the Handbook https://handbook.18f.gov/ or asking in #questions."

[2016-04-28 04:13] fentie opened #163 "Include Pull Request Template"
Now that Github supports pull request templates, I think this would be a useful thing to include in order to minimize rework on incoming PRs.

https://help.github.com/articles/creating-a-pull-request-template-for-your-repository/

[2016-04-28 16:45] jessieay commented on #163
love this idea!

[2016-04-29 16:07] gemfarmer commented on #163
agreed!

[2016-04-29 21:16] nikzei commented on #115
At the end of onboarding (or maybe after the two-week mark), a checklist message of all the things the onboarder should have accomplished (all 18f classes offered, Concur, Tock, GitHub, Code of Conduct, benefits, equipment, etc. etc.) with particular emphasis on admin tasks that need to be completed by then (I write this bc I just onboarded and am worried that there are things I've overlooked taki

[2016-04-30 15:19] dijonkitchen opened #164 "Readme missing Google Doc Link"
Under Usage Instructions for 18-F employees, in the first item under "To add new messages": https://github.com/18F/dolores-landingham-bot#usage-instructions-for-18f-employees

[2016-04-30 17:52] dijonkitchen commented on #111
Is this still relevant now that Slack has Do Not Disturb built in?

https://get.slack.help/hc/en-us/articles/214908388-Using-Do-Not-Disturb-in-Slack

[2016-04-30 18:04] jessieay commented on #111
Hi! Yes this is relevant because it is related to anything after 4pm PT. So if we wanted to send something at 4:30pm PT we couldn't. Or we could, but right now the code does not allow it.

[2016-04-30 18:11] jessieay commented on #164
good call! and we've changed the process so that people add new messages in this github issue: https://github.com/18F/dolores-landingham-bot/issues/115

so I will mark this issue as "help wanted" so someone can update the non-linked google doc to be a link to that github issue

[2016-04-30 18:18] afeld opened #170 "ease the setup"
Hey team-
Having had used this project in a couple of open source workshops thus far, I've watched a bunch of people hit a lot of hurdles when trying to set up the app locally. In particular, setting up the MyUSA application and the Slack token are a bit of a nuisance. I was wondering: thoughts about feature-flagging those connections, where in development it could just post to the console or some

[2016-04-30 18:21] jessieay commented on #170
I like that idea! MyUSA setup is super annoying. anything to make setup easier would be fine for me! only  consideration is that we should make sure we are still able to test auth functionality locally if we'd like (perhaps some type of env var to switch on)

[2016-04-30 18:44] #163 closed

[2016-04-30 18:44] jessieay commented on #163
Closed via #169 -- definitely looking forward to trying this out -- let us know if you have any suggestions for how to improve our template, @fentie

[2016-04-30 22:43] fentie commented on #163
That looks pretty good, yeah. At my current place we have a few different PR templates for different repos, but in general they cover one or more of the following:

- What
- Why
- How to test
- Relevant documentation/links
- Special deploy instructions

Feel free to include any that seem useful. This can always evolve as it goes.

 I've also noticed at least a few PRs here having a "Minor" section

[2016-05-01 18:57] dijonkitchen commented on #164
Updated!

[2016-05-02 21:59] #164 closed

[2016-05-02 22:18] jessieay commented on #163
@fentie thanks for your input. I myself use "minor" to indicate smaller changes that are perhaps not related to the current PR but were cleaned up in the process. Not sure we need to codify that via PR template but perhaps...

[2016-05-03 00:17] fentie commented on #163
Sounds like there's no need. Cheers 8^)

[2016-05-03 21:39] jrmils89 commented on #157
Hey all. So I took an approach here that it would probably be better to send out slack messages using the slack user id (which shouldn't change when a username is change) instead of raising errors on bad slack usernames. I started working on this and realized it's a fairly substantial change.

I think I covered everything, and it's all housed here: https://github.com/jrmils89/dolores-landingham-bo

[2016-05-05 03:37] gemfarmer opened #173 "Use dolores as slack "form" to collect team api data"
At dinner a few of us (including @jessieay) were bouncing around the idea of using Dolores slack bot in a call and response fashion to retrieve new hires' basic info. Once it is retrieved, it could be added to the team api data, and even go live on the hub

Example (on day 1):

[2016-05-05 19:17] jessieay commented on #157
@jrmils89 sendings message via Slack ID instead of username is a GREAT idea. We're still gonna want to add users via Slack username since that is more user-friendly, but I think using something that is unique and unchanging is super ideal. Love that idea.

Depending on how much work it is, I'd suggest you do this in 2 steps:

1. Save slack user ids and use those to send messages
2. Figure out a wa

[2016-05-06 02:21] jrmils89 commented on #157
So #1 is already done. Just an explanation of how it works:
- You still create the user by their slackname, but now it looks up their slack user id when it does that and saves it along with their username to the DB
- When you send a message, if the slack user id isn't already saved, it tries to add it by looking the employee up by their slackname
- Once it has a slack user id, it then looks up the

[2016-05-10 16:22] gemfarmer opened #175 "Validation on slack_username character length"
When attempting to add a new employee, slack usernames that are less than 3 characters trigger a pre-flash validation error.

This is possibly the result of a default validation in [this `rails-i18n` file](https://github.com/18F/dolores-landingham-bot/blob/master/config/locales/en.yml#L22) or [the employee model](https://github.com/18F/dolores-landingham-bot/blob/master/app/models/employee.rb#L9)

[2016-05-10 16:27] gemfarmer opened #176 "Documentation for visiting database"
There should be documentation for visiting the database
- via command line using `cf-ssh`
- [cloud.gov postgres client](https://pgweb.apps.cloud.gov/)

[2016-05-19 16:29] jessieay opened #179 "Clarify foreman stuff in docs"
See https://github.com/18F/dolores-landingham-bot/pull/172#discussion_r63910863 for more info

[2016-05-20 20:32] toolness commented on #115
One of the things I find really cool about our Slack is the existence of public channels (these seem to all end with `-public` in their name). In particular, I really like `#opensource-public`--IRC/real-time chat in general is a big part of open-source culture and this channel seems to be the closest thing we have to it.

However, I don't believe any of my onboarding materials ever mentioned the e

[2016-05-24 22:44] toolness commented on #115
Aidan just told me about https://fugacious.18f.gov/, which is useful for securely sending things that only need to be viewed once or twice, like passwords. I'm not sure if a guide would be appropriate for it, so it might be useful as a dolores message? Also not sure how useful the service is to non-engineers.

[2016-05-24 22:45] jessieay commented on #115
@toolness good idea! cc @nicoleslaw

[2016-05-25 15:11] gemfarmer commented on #158
I think hardcoding it is fine for now, but if we are going to keep this useful for a wide audience while making it useful for 18F, it is probably worth creating a model that houses potential question keywords and their affiliated responses.

[2016-05-25 15:16] gemfarmer opened #180 "Handle regular policy reminders"
This is here as a reminder to investigate further, not as an actionable ticket.

From @batemapf via slack

@ccostino:

me:

[2016-05-25 16:20] jessieay commented on #180
This seems right in line with Mrs. Landingham's core purpose!

Implementation brainstorm:

Add a new `message_type` column to `scheduled_messages` -- if it is an `onboarding` message it gets sent once. If it is `quarterly` then we send it out on the first day of each quarter.

[2016-05-27 16:54] jessieay commented on #180
### Requirements for this feature:

#### Description:

Given that I am an admin
And I am logged in
When I visit the new_scheduled_messages path
And I add a title and message body to a scheduled message
And select 'quarterly' as the message type
Then the 'Business days after employee starts to send message' and 'Time of day to send message (uses employee's local time zone)' fields cannot be filled

[2016-05-27 19:23] jessieay opened #181 "Move to GitHub oauth"
Myusa is on its way to being deprecated and is unfamiliar for new developers to this project to set up.

GitHub auth can be scoped to by team, so we can add GitHub oauth and only allow members of the 18F team to auth.

Added benefit: right now, anyone with an `@gsa` email address can auth on production, which is more people than we want.

[2016-05-28 00:17] jessieay commented on #181
Started work on this here https://github.com/18F/dolores-landingham-bot/compare/jy-github-auth?expand=1

[2016-05-31 13:30] nicoleslaw commented on #115
cc @jeremiak who is the onboarding lead now. We talk about this here: https://handbook.18f.gov/slack/

[2016-05-31 15:40] awfrancisco commented on #157
@jrmils89 This issue can be closed right?

[2016-05-31 15:41] jrmils89 commented on #157
Yep! 👍

[2016-05-31 16:03] #157 closed

[2016-05-31 16:09] jessieay commented on #115
hey @nicoleslaw what does

mean?

Want to make sure I am not missing something :)

[2016-05-31 16:17] nicoleslaw commented on #115
Whoops, sorry, I meant to share the text about Fugacious for @toolness's request:

[2016-06-07 22:02] batemapf commented on #180
hey folks - could we build in the requirement that the employee actively acknowledge receipt of the message / interact with the bot? i.e. 👍 for i received it; 💯 for i completed it; ❓ for i need more information, etc..? not sure if data (responses) can generated based on user action (as opposed to admin action), but if so, that'd be super cool!

[2016-06-07 22:09] jessieay commented on #180
We will need to update the description I gave to @mtorres253 but yes this is possible:

We are already using the real-time message API.
Docs on that: https://github.com/dblock/slack-ruby-client#realtime-client

What we need to flesh out here is "what happens" when each of the above situations -- if we can give specific instructions on those, we can incorporate into this auction. Otherwise, it migh

[2016-06-20 21:47] jessieay commented on #175
Closed via https://github.com/18F/dolores-landingham-bot/pull/185 -- thanks @cwarden !

[2016-06-20 21:47] #175 closed

[2016-06-21 14:29] scottt2 commented on #180
Hey folks! Just to clarify, the ack functionality that @batemapf suggested--while being totally awesome--is **not** in scope for this, right?

Just double checking.

Thanks!

[2016-06-21 15:30] jessieay commented on #180
@scott2 yes, this auction does not include the ability to respond to messages. We have not scoped that part of this functionality quite yet. Thanks for asking!

[2016-06-21 15:44] scottt2 commented on #180
@jessieay Right on. Thanks for the clarification!

[2016-06-27 17:15] #180 closed

[2016-06-27 17:16] jessieay commented on #180
Merged to master at 4de847866f9d56baed7aea4ea31048ff335fb13a

[2016-06-28 17:45] jessieay commented on #55
Start date is now in public team API https://team-api.18f.gov/public/api/team/

[2016-06-28 17:48] jessieay commented on #55
I think it makes sense to have a daily cron job that imports any new employees and updates start / end dates for employees based on the slack username field available in the team API https://team-api.18f.gov/api/team/

[2016-06-30 16:59] jessieay commented on #72
# Auction requirements

One feature-level test (Capybara) to confirm the following behavior:

Given that I am in the slack user in the same team as the bot user
And there is not an employee record for me in the Dolores system
Then my slack username and id should be imported into the Dolores system as an employee record once per day at 3am UTC

Any other classes/methods that are introduced in order

[2016-06-30 17:32] jessieay commented on #125
# Auction requirements

* At least one high-level (Capybara) test to confirm the following:

* Any other classes/methods that are introduced in order to complete the above feature should have unit tests.

## Other information

This is implementation advice but not required:

This type of message feels significantly different from a regular `scheduled_message` so it may make sense to create a new t

[2016-07-13 21:53] geoffharcourt commented on #72
Confirming receipt of our successful auction bid. Thank you.

[2016-07-13 21:54] geoffharcourt commented on #125
Confirming receipt of our successful auction bid. Thank you.

[2016-07-19 17:37] mrgilman commented on #125
Hi! I'm working on this feature and I have a question.

I noticed that for scheduled messages, there is a `SentScheduledMessage` model that tracks sent messages and, in the `MessageSender` class, also records any errors encountered when sending a message. Does it make sense to create a corresponding `SentMessage` class to go with the new `Message` model? If not, how should error reporting be handl

[2016-07-19 17:58] jessieay commented on #125
Hello @mrgilman  - thanks for asking!

We use `SentScheduledMessages` as a way of knowing who has received a certain messages since we run a rake task to send those every minute (eg: if a user should have received a message at 12 and it is 12:01, we want to check that they did not receive a message before sending it to them)

Recording errors is nice but I hope to make that the job of an error rep

[2016-07-19 18:01] mrgilman commented on #125
That should do it for now, thanks @jessieay!

[2016-07-19 21:31] jessieay opened #194 "Localize error messages"
Right now, our flash messages are strings in the controller. We should move them into I18n so they are all in one place and easier to look for in tests.

https://github.com/18F/dolores-landingham-bot/blob/master/config/locales/en.yml

[2016-07-20 23:45] jessieay opened #196 "Rename `Message` to `BroadcastMessage`"
Clearer name! See https://github.com/18F/dolores-landingham-bot/pull/193#issuecomment-234114686 for background

[2016-07-21 17:37] jessieay opened #197 "Add ability to log out"
RIght not, only way to log out is to de-authorize to delete a cookie! Logout button in nav would be great.

[2016-07-21 17:50] jessieay opened #198 "Create "log in" page"
Right now, authentication is required to view any and all pages. So if login fails, we don't have any pages where we can show the user the generated auth errors.

We should create a simple page with a "login with github" that we can redirect users to if login fails.

This can also serve as the non-authed root path.

[2016-07-21 18:01] jessieay commented on #181
PR here: https://github.com/18F/dolores-landingham-bot/pull/199

[2016-07-23 22:17] bennovack opened #203 "Readme instructions explicitly refer to Melody Kramer"
Generally not best practice for docs to refer to specific people vs a role/title anyway, this being a fine example of why :-)

[2016-07-26 15:52] jessieay commented on #203
good idea, @bennovack ! We don't currently have a role or title for someone who is in charge of onboarding. In fact, I have no idea how that person gets assigned. cc @jeremiak  -- any insights on how we can generally point someone to "the person in charge on onboarding" ? Maybe an email alias?

[2016-07-26 16:39] #181 closed

[2016-07-26 16:41] jessieay opened #204 "Automate deployment via Travis"
When the build passes on master, we should deploy to production.

Micropurchase also uses Travis and Cloud.gov so their setup can be used as as guide for how to do this https://github.com/18F/micropurchase/blob/develop/.travis.yml

[2016-07-27 00:12] jessieay commented on #65
This is no longer relevant, we moved to GitHub auth. Closing

[2016-07-27 00:12] #65 closed

[2016-07-27 00:14] jessieay commented on #88
We are now using GitHub auth for Dolores so the auth process should be slightly more intuitive than it was before. I updated the docs. If someone has the time to test them out, that would be awesome https://github.com/18F/dolores-landingham-bot/blob/master/CONTRIBUTING.md#authentication

[2016-07-27 00:15] jessieay commented on #170
@afeld we are now using GitHub auth! I also updated the docs with instructions on how to set up auth: https://github.com/18F/dolores-landingham-bot/blob/master/CONTRIBUTING.md#authentication

What do you think?

[2016-07-27 02:17] afeld commented on #170
Definitely better, though having watched people go through setup a couple times, taking out the auth setup step altogether would be a big friction-remover for contributing.

[2016-07-27 02:18] afeld commented on #170
Sorry, by "take out" I mean "make feature-flaggable for development".

[2016-08-02 20:40] jessieay commented on #198
Closed via https://github.com/18F/dolores-landingham-bot/pull/202 -- thanjs @timbo815 !

[2016-08-02 20:40] #198 closed

[2016-08-02 20:41] jessieay commented on #197
Closed via https://github.com/18F/dolores-landingham-bot/pull/202 🌈

[2016-08-02 20:41] #197 closed

[2016-08-02 20:58] jessieay opened #206 "Consider breaking out `Quarterly message` from `ScheduledMessage`"
right now, quarterly messages are a type of scheduled message. You create them in the same form, there is just a checkbox you check if you want something to be a quarterly message

It would be more obvious from an admin standpoint how to create a quarterly message if it had its own section in the lefthand nav.  This means a separate form (with no checkbox required, and only fields that you need fo

[2016-08-06 13:19] msjanew opened #207 "Scheduled Messages for Onboarding"
Hello,  My name is Matthew Newman. I work for Abbott Laboratories. I am exploring options for an onboarding bot for our new managers.  I signed for GitHub with personal account. I would love to see the scheduled messages for new 18F for the first month. How can I see this list? Thank you. msjanew@aol.com

[2016-08-08 16:53] jessieay commented on #207
Hi Matthew! The bot code does not include the database of messages to employees, just the ability to send messages over a period of days/weeks based on an employee's start date.

While we do not have a database to share with you, our employee handbook is open source, which might be a good guide for topics to cover in your messages: https://handbook.18f.gov/

Hope this helps!

Jessie

[2016-08-09 20:24] msjanew commented on #207
Hi Jesse,

Thanks very much for responding. This is helpful  Can you tell me if other companies are leveraging your bot code and customizing it to meet their onboarding needs? Are there any good case studies I can refer to?

Thanks,

Matt

-----Original Message-----
From: Jessie A. Young <notifications@github.com>
To: 18F/dolores-landingham-bot <dolores-landingham-bot@noreply.github.com>
Cc: msjan

[2016-08-09 22:14] jessieay commented on #207
Hi Matt -- no case studies. Various parties have expressed interest, but since it's open source we don't really know who is using it. Not sure if you saw the post I wrote for the 18F blog about how we use the bot. If not, here it is: https://18f.gsa.gov/2015/12/15/how-bot-named-dolores-landingham-transformed-18fs-onboarding/

[2016-08-24 15:23] jeremiak commented on #203
Sure, we could set up an email alias (not 100% sure how to do that) or we could just ask them to come to #wg-onboarding in Slack (if they have access to the 18F slack)?

[2016-08-24 16:18] jessieay commented on #203
email aliases are gone via gmail -- if we can find a gmail admin, we can do that. Happy to add Slack channel instead, great idea.

[2016-08-28 20:55] afeld commented on #170
I'm thinking something like the following:

[code]

which would find or create that user and bypass OAuth.

[2016-08-29 21:29] jessieay commented on #194
Closed via https://github.com/18F/dolores-landingham-slack-bot/pull/210 -- 👏  @JVThomas !

[2016-08-29 21:29] #194 closed

[2016-08-29 21:51] ben-biddington opened #211 "[SETUP, RESOLVED] Bundle fails to install `nio4r`"
The errors looks like:

[code]

The interesting part there is:

[code]

[2016-08-29 21:52] ben-biddington commented on #211
Resolved by: `apt-get install libgmp-dev` as described [here](https://github.com/copiousfreetime/hitimes/issues/48).

[2016-08-29 21:52] ben-biddington commented on #211
Left as breadcrumb trail

[2016-08-29 21:52] #211 closed

[2016-09-14 21:23] jmhooper opened #212 "Add seeds"
It may be helpful to have some sample data to play around with when getting started

[2016-09-15 15:56] jmhooper opened #213 "Forbidden / unauthorized message for unsuccessful auth"
Currently, if you attempt to login via Github, and you aren't a member of the appropriate organization or your organization membership is set to private the app renders an error message:

![image](https://cloud.githubusercontent.com/assets/963654/18556811/319653f4-7b32-11e6-8b69-09b7818b100f.png)

In production this will render a bank, white screen. This may be confusing for users who may not unde

[2016-09-15 16:25] jessieay commented on #213
I like this idea! Agree that error page is not helpful.

 I know someone created a landing page for signing in before, would make
sense to use the same layout for this page.

Thanks for bringing this up! We are always trying to improve the onboarding
experience for new devs and I think this will help them as much as it helps
end users.

On Thursday, September 15, 2016, Jonathan Hooper <notificatio

[2016-09-15 22:00] jmhooper commented on #213
@jessieay: I'm looking for the sign in landing page but I can't seem to find it.

I found a new session page: https://github.com/18F/dolores-landingham-slack-bot/blob/6e59a366ab90ee06a5fc2519c7c6686a0cc10b6f/app/views/sessions/new.html.erb

This one is kind of weird because it renders with the application layout so you get the sidebar even though you aren't authed:

![image](https://cloud.githubus

[2016-09-15 22:02] jessieay commented on #213
that's the one!

I like the idea of not showing sidebar links when you are logged out, I didn't realize you could see them. Feel free to fix as separate PRs or to submit issues for them

[2016-09-16 17:46] jmhooper commented on #213
This was closed in 08df70684041abd6e999f30c709c6d5ae6565e09.

I'll open another issue for the sidebar on the sign-in pages

[2016-09-16 17:46] #213 closed

[2016-09-16 17:52] jmhooper opened #216 "Sidebar appears on Sign In pages"
Currently the app has 2 views where the user is in an unauthenticated state:

- The Sign In page (`session/new`)
- The Sign In Error page (`auth/forbidden`)

Both of those views are rendered in the application layout which makes the assumption that the user is signed in and displays the sidebar.

![image](https://cloud.githubusercontent.com/assets/963654/18595877/3c9e9c68-7c0c-11e6-8627-826ecdf3e3

[2016-09-16 18:02] #111 closed

[2016-09-19 23:07] #196 closed

[2016-09-20 17:41] jmhooper opened #222 "Weird text case on form submit buttons"
Some of the submit buttons have an awkward case.

e.g. "Create Broadcast message" as seen below:

![image](https://cloud.githubusercontent.com/assets/963654/18681840/6104e0f0-7f2f-11e6-9982-8dc4eab03865.png)

This also seems to be the case with the new scheduled message form.

[2016-09-20 17:42] jessieay commented on #222
I agree! This is the rails default but we can totally change

[2016-09-21 17:32] #216 closed

[2016-09-21 17:33] jessieay commented on #216
Thank you to @JVThomas for submitting a fix for this! 👐

[2016-09-21 18:46] jessieay opened #228 "Silence time zone deprecation warning"
seeing this in Travis;

[code]

[2016-09-21 18:59] jessieay opened #229 "Update sinatra gem"
We are downloading from source, would be better to use the released gem

this is the warning we see:
[code]

[2016-09-27 18:00] jmhooper opened #230 "Move "flashes" partial into layout"
We may want to consider moving the partial that displays the flash messages into `application/layout` instead of depending on individual views to render it.

[2016-09-27 18:04] jmhooper opened #231 "Add filter query object for messages"
Currently, the `OnboardingMessage` and `QuarterlyMessage` models implement identical filter methods. This may be a good use case for a [query object](http://craftingruby.com/posts/2015/06/29/query-objects-through-scopes.html).

A filter object may also allow us to add filtering to broadcast messages.

[2016-10-07 21:07] jessieay opened #234 "Make quarterly messages work for TTS Slack org"
Last week, 18F's Slack org was moved from being for 18F only to being for all of TTS.

While our Slack now includes more people, our quarterly messages are sometimes meant to be for 18F team members only.

Quarterly Messages are messages that will be Slack DM'd to every employee that is in the Dolores database on the first day of each quarter.

The original issue for this feature is here: https://

[2016-10-07 21:15] jmhooper commented on #234
I saw some murmurings about creating an 18F channel for news/announcements specific to 18F. If that happens maybe we could import users who are subscribed to that channel?

[2016-10-11 13:08] joshuabailes commented on #234
I like the @jmhooper approach. Anyone know if that would work in Slack?

[2016-10-11 17:28] jessieay commented on #234
good idea @jmhooper -- want to follow up on these murmurings and see what you find? I have been lurking in `#wg-slack` but nothing about an 18F-only team yet...

[2016-10-25 23:35] jessieay commented on #206
Closed via https://github.com/18F/dolores-landingham-slack-bot/pull/223 -- guess our template does not have language that auto-closes! jeez

[2016-10-25 23:35] #206 closed

[2016-10-25 23:36] jessieay opened #237 "Update PR template"
Right now, our PR template includes

This does *not* auto-close the issue you link to. We should update so that we get that awesome auto-close behavior. So, change to one of these words/formats: https://help.github.com/articles/closing-issues-via-commit-messages/

[2016-11-16 15:43] zacharycohn opened #239 "Reminder that Dolores is not a human"
I know of several examples of newcomers to 18F (typically our coworkers who do not come from technical backgrounds) getting messages from Dolores and not realizing she is a robot. It's possible Dolores mentions this in her first message (I haven't been able to find where the messages are listed, so I haven't been able to confirm), but even if so, it is not clear that this is not a human being.

I

[2016-11-16 20:53] jessieay commented on #239
This is a great idea!

[2016-11-27 02:18] knice commented on #239
[insert Westworld joke about Dolores being a "host" rather than a "bot"]

[2017-02-03 23:55] jessieay opened #241 "Non-admins should not be able to test messages, edit or delete users"
We should perform a full audit of which actions non-admins can take. Currently, regular users see the option to test messages and edit or delete users. No bueno.

[2017-02-04 00:59] jessieay opened #244 "Fix deprecation messsage"
After upgrading to Ruby 2.3.3, we starting seeing this OVER AND OVER when running `bundle exec rake`

"You are setting a key that conflicts with a built-in method`

Screenshot of how many times this shows up:

![screen shot 2017-02-03 at 4 44 31 pm](https://cloud.githubusercontent.com/assets/601515/22613985/fb353e1e-ea31-11e6-8630-ed9820da8414.png)

[2017-02-04 01:24] jessieay opened #245 "Fix issues with employee records without slack user ids"
Right now, there are 100+ employee records on prod that do not have a slack user id.

This is problematic because we use the slack user id to send messages.

We should write code into our existing employee import tasks that:

- updates existing employee records that do not have slack user ids (find them by slack username).
- soft delete that employee record that no longer exist (if find by slack u

[2017-03-07 23:24] davoMM opened #248 "Local install issue"
Hi,

I'm experimenting with this app and having trouble connecting this app to Slack with a local install. I have got to the point where I am able to add an employee but when I queue up a message, it won't send. The test message won't work either. I've added my Slack API token to the .env file. Am I missing something obvious?

If you need any more info regarding my setup please let me know. I real

[2017-03-07 23:29] jessieay commented on #248
Hi!
Message send through delayed job so my guess would be that you aren't working off the delayed jobs. Are you running the worker process? The easiest way to do that locally is to run the app with foreman rather than rails server. See https://github.com/18F/dolores-landingham-slack-bot/blob/develop/CONTRIBUTING.md#app-setup for setup steps if you haven't seen that already.

Congrats on getting th

[2017-03-07 23:35] davoMM commented on #248
Thanks for the quick response! Setup was a bit tricky but I was able to get up and running (just not w/ Slack yet...).

I'm currently running foreman at the default port specified in the .foreman file (5000). It is hosting the app and I see that once a minute it is running `onboarding_message.send` but nothing is going out.

[2017-03-07 23:39] jessieay commented on #248
Hm ok, I bet we can figure this out. Can you join this public Slack channel so we can discuss in real time: https://gsa-tts.slack.com/messages/opensource-public/

[2017-03-08 00:03] davoMM commented on #248
I can! Where can I send my email for invite?

[2017-03-08 00:06] jessieay commented on #248
Oh sorry, I thought you could just join , didn't realize the process had changed.

Looks like now the process is to fill this out: https://chat.18f.gov/

In the meantime, I've been debugging locally and am seeing the same thing as you. If you remove the `.delay` in Line 17 of `app/controllers/test_messages_controller.rb` that enables messages to send as a short term solution.

[2017-03-08 00:21] davoMM commented on #248
Removing `.delay` did the trick! I'm able to rule out that the Slack API Token wasn't configured correctly. I've also filled out the form for the open source channel. Thanks so much!

[2017-03-08 00:27] jessieay opened #250 "Issue with testing same message to same person"
in `app/services/message_sender.rb`, we create a `SentMessage` record for each message sent. This is so that we can record who receives what and when.

Right now, we validate the uniqueness of the employee id, message id, and message type for each sent message. So, if we try to test the same message to the same employee, that `SentMessage` creation while fail on the second try.

We do not need to

[2017-03-08 17:03] #248 closed

[2017-03-08 20:05] jessieay commented on #250
This issue will also affect onboarding messages

see https://github.com/18F/dolores-landingham-slack-bot/blob/develop/app/services/onboarding_message_employee_matcher.rb#L24

we only send an onboarding message if there is no `SentMessage` record.

[2017-03-08 20:56] jmhooper commented on #250
I'm trying to remember why we need that uniqueness validation. Why do we consider multiple sent messages for an employee / message combination an invalid state?

[2017-03-08 21:14] jessieay commented on #250
We use these to determine if someone has already received an onboarding message. I think we can remove the validation *or* just make sure we do not create `SentMessage` records when testing messages

[2017-05-18 21:15] jmhooper commented on #250
This was fixed in #255

[2017-05-18 21:15] #250 closed

[2017-08-13 14:37] kinglyar commented on #211
but for windows i do choco install libgmp-dev and says the package was not found with the source(s) listed. ben-biddington how a windows user can solve this problem?

[2017-08-22 08:20] cyrilfrank commented on #211
@ben-biddington could you help with a fix for windows?

[2017-08-22 09:14] ben-biddington commented on #211
Yep, will have a look on Thursday

[2017-08-23 21:55] ben-biddington commented on #211
@kinglyar, installation works for me -- do you have [the devkit](https://github.com/oneclick/rubyinstaller/wiki/Development-Kit) installed?

Here's my setup:

[code]

[2017-08-23 22:04] ben-biddington commented on #211
(Windows 10)

[2017-09-01 15:31] jmhooper opened #257 "Move from Travis to Circle"
18F is moving away from TravisCI. We need to migrate Dolores over to CircleCI.

[2018-01-09 18:57] mutabledevotions commented on #211
I'm having a similar problem -- was there ever a resolution to the Windows issue @cyrilfrank ?

Here's my setup:
![image](https://user-images.githubusercontent.com/4504400/34737714-8b5e8b7e-f53c-11e7-9d8e-5fa874094766.png)

[2018-01-11 13:15] cyrilfrank commented on #211
This is the response I got,

installation works for me -- do you have the devkit
<https://github.com/oneclick/rubyinstaller/wiki/Development-Kit> installed?

Here's my setup:

$ ruby -v; gem list bundler;
ruby 2.3.3p222 (2016-11-21 revision 56859) [x64-mingw32]

*** LOCAL GEMS ***

bundler (1.13.6)
bundler-audit (0.5.0)

On Wed, Jan 10, 2018 at 12:27 AM, Justin Z. <notifications@github.com>
wrote:

[2018-03-20 18:20] amirbey opened #259 "Safari Books message contact needs to be updated from Victor Valdiezo"
https://dolores-app.18f.gov/onboarding_messages?utf8=%E2%9C%93&title=&body=victor&tag=
<img width="940" alt="screen shot 2018-03-20 at 2 18 26 pm" src="https://user-images.githubusercontent.com/1261794/37674663-bdab0bcc-2c49-11e8-970d-d08a28969b1a.png">

[2018-03-20 18:55] amirbey commented on #259
contact should be tts-software@gsa.gov

[2018-05-14 14:53] cromulus opened #261 "Detect new Employees/Slack Users"
As a bot, Dolores-landingham has access to the [full list of employees/slack users](https://api.slack.com/methods/users.list), which includes the employee/slack user time zone.

Perhaps, instead of requiring administrators to manually input information that is readily available from the API, Dolores regularly polls the API, discovering new employees and creating an account for them?

I could see t

[2018-05-14 14:55] cromulus commented on #261
Oops, I see it's already implemented.

[2018-05-14 14:55] #261 closed, assigned to nobody

[2018-05-14 15:04] cromulus opened #262 "EmployeeImporter.new.delay.run fails with no method error"
```NoMethodError: undefined method `green' for "2/182: Created SLACKUSERNAME":String```

Thanks!

[2018-05-14 16:12] cromulus opened #263 "Templating in messages"
Hi!
I have a use case where it would be handy to be able to use the slack user_id in a message sent to an employee, specifically, in a link that the user can click to connect to other sorts of services, identified by their slack user_id.

Additionally, I think it would be quite friendly if messages could be personalized for the person they were being sent to.

[code]

Thanks!

[2018-05-14 16:19] cromulus commented on #114
I think it makes more sense for Dolores to simply check if the flag is set and if not, send the message. Call and response adds a whole bunch of complexity.

Would need a way to easily have third party services set flags on users, though, which is a whole other thing, or a mechanism for Dolores to poll those third parties for the value.

[2018-07-01 19:23] nodanaonlyzuul commented on #229
Hi!

I wonder if this is still and issue.
I'm not 100% sure of the original problem but it seems this issue may have been fixed by 740e083a2e341fafb40e0405d5c94240654cbd67?

[2018-11-14 18:30] cromulus opened #265 "Honor Slack API rate limit 'retry-after'"
It seems that right now with sufficient number of slack users, we begin to hit Slack's API rate limit with both the broadcast message and user updater functions.

Perhaps we could use the `retry-after` response from slack to back off and retry when the api call is more likely to succeed?

[2019-09-03 11:06] ntloi95 commented on #211
How about in docker build? I got this bug web build docker.

My Docker file

[code]